{% extends 'DesignStarlightBundle::Base.html.twig' %}

{% block content %}
    <div class="maincontent noright">
        <div class="maincontentinner">
            {{ children['Top'].toHtml() | raw }}
            <ul class="maintabmenu">
                {{ children['MainTabs'].toHtml() | raw }}
            </ul><!--maintabmenu-->
            <div class="content">
                {{ children['MainContent'].toHtml() | raw }}
            </div><!--content-->
        </div><!--maincontentinner-->
        <div class="footer">
            <p></p>
        </div><!--footer-->
    </div><!--maincontent-->
{% endblock %}
