{% extends 'DesignStarlightBundle::Base.html.twig' %}


{% block MainContent %}
    <div class="maincontent noright" style="margin: 0 10px 0 10px;">
        <div class="maincontentinner">
            {{ children['Top'].toHtml() | raw }}
            <ul class="maintabmenu">
                {{ children['MainTabs'].toHtml() | raw }}
            </ul><!--maintabmenu-->
            <div class="content" {% if isDisplayMainContent == 0 %} style="display: none"{% endif %}>
                {{ children['MainContent'].toHtml() | raw }}
            </div><!--content-->
        </div><!--maincontentinner-->
        <div class="footer">
            <p></p>
        </div><!--footer-->
    </div><!--maincontent-->    
{% endblock %}
