
{% block app_appraisal_cycle_business_unit_department_row %}
    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);
 
        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var idDepartmentSelected = '{{ idDepartmentSelected }}';

        function updateGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();
            var departments = businessUnitDepartments[idBusinessUnit];

            jQuery('#{{ form.idDepartment.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.idDepartment.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idDepartment.vars.id }}').val({{ idDepartmentSelected }});
            }
        }        
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}

    <script type="text/javascript">
    $(document).ready(function() {
        updateGui(true);
    });

    </script>
{% endblock %}
