{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="padding: 10px">
        <b>Done! Change status to 'In progress', now the employees can fill out this appraisal form</b>
    </div>
{% endblock %}