
    <script type="text/javascript">

        var currentIdAppraisalCycle = 0;

        // SHOW EDIT MENU
        function showActionMenu(idElement, idAppraisalCycle, status) {
            currentIdAppraisalCycle = idAppraisalCycle;

            var elementPosition = jQuery('#' + idElement).offset();            
            var actionMenu = jQuery('#{{ tableId }}_ActionMenu');

            if (status == 1) { // OPEN
                actionMenu.menu('appendItem', {
                    id: '{{ tableId}}_ActionMenu_Initiate',
                    text: 'Initiate this period',
                    name: 'Initiate'
                });
            }
            else if (status == 3) { // IN PROGRESS 
                actionMenu.menu('appendItem', {
                    id: '{{ tableId}}_ActionMenu_Reset',
                    text: 'Reset this period',
                    name: 'Reset'
                });
                actionMenu.menu('appendItem', {
                    id: '{{ tableId}}_ActionMenu_Close',
                    text: 'Complete this period',
                    name: 'Complete'
                });
            }
            else if (status == 4) {
                actionMenu.menu('appendItem', {
                    id: '{{ tableId}}_ActionMenu_Reopen',
                    text: 'Reopen this cycle',
                    name: 'Reopen'
                });
            }

            actionMenu.menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                }
            );
        }
        function hideActionMenu() {
            var actionMenu = jQuery('#{{ tableId }}_ActionMenu');
            var menuItem;
            
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Build');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Initiate');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Rebuild');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Reset');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Close');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
            menuItem = jQuery('#{{ tableId}}_ActionMenu_Reopen');
            if (menuItem.length != 0) { actionMenu.menu('removeItem', menuItem[0]); }
        }

        function clickActionMenu(item) {
            if (item.name == 'Build') {
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Build appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ buildAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
            else if (item.name == 'Initiate') {
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Initiate appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ initiatedAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
            else if (item.name == 'Rebuild') {
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Re-build appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ rebuildAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
            else if (item.name == 'Reset') {
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Reset appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ resetAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
            else if (item.name == 'Complete') {
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Close appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ closeAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
            else if (item.name == 'Reopen') {            
                jeasyui_add_new_tab('AppraisalCycleTabs', 'Reopen appraisal cycle (id: ' + currentIdAppraisalCycle +')',
                    '{{ reopenAppraisalCycleHref }}?id=' + currentIdAppraisalCycle);
            }
        }
</script>

    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Review period"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="reviewName" width="200">Review Name</th>  
                        <th field="dateFrom" width="110">Date From</th>  
                        <th field="dateTo" width="110">Date To</th>  
                        <th field="idAppraisalType" width="80">Appraisal Type</th>  
                        <th field="status" width="80">Status</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>

    <div id="{{ tableId }}_ActionMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickActionMenu,onHide:hideActionMenu">  
    </div>