{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="padding: 10px">
        <b>Done! Employee appraisal data has been deleted. Change appraisal status back to 'Open'</b>
    </div>
{% endblock %}