
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="My Objectives"
                singleSelect="true">
                <thead>  
                    <tr>  
                         <th field="idCompetencySubArea" width="150">Competency Sub Area</th>  
                        <th field="competency" width="200">Competencies</th>  
                        <th field="objective" width="200">Objective (Action)</th>  
                        <th field="kpi" width="150">KPI (Measure)</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
