{% block app_competency_objective_row %}
    <script type="text/javascript">
        var competencyAreaCompetencies = JSON.parse('{{ competencyAreaCompetenciesJson | raw }}');
        var competencyName = JSON.parse('{{ competencyNameJson | raw }}');

        var jobPositions = JSON.parse('{{ jobPositionJson | raw }}');
        var competencyJobPositions = JSON.parse('{{ competencyJobPositionJson | raw }}');

        function onChangeCompetencyArea(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idCompetencyArea = jQuery('#{{ form.idCompetencyArea.vars.id }}').val();
            var subAreas = competencyAreaCompetencies[idCompetencyArea];

            jQuery('#{{ form.idCompetency.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var subAreaSelect = jQuery('#{{ form.idCompetency.vars.id }}');
            for (id in subAreas) {
                var idSubArea = subAreas[id];

                subAreaSelect.append('<option value=' + idSubArea + '>' + competencyName[idSubArea] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idCompetency.vars.id }}').val({{ competencySelected }});
                onChangeCompetency(true);
            }
            else {
                onChangeCompetency(false);
            }
        }

        function onChangeCompetency(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;

            var idCompetency = jQuery('#{{ form.idCompetency.vars.id }}').val();
            var cJobPositions = competencyJobPositions[idCompetency];

            for (id in jobPositions) {
                jQuery('#{{ form.vars.id }}_jobPositions_div_' + id).css('display', 'none');
                if (!loadPage) {
                    jQuery('#{{ form.vars.id }}_jobPositions_' + id).removeAttr('checked');
                }
            }

            for (id in cJobPositions) {
                var idJobPosition = cJobPositions[id];
                jQuery('#{{ form.vars.id }}_jobPositions_div_' + idJobPosition).css('display', '');
            }
        }
    </script>

    {{ form_row(form.idCompetencyArea) }}
    {{ form_row(form.idCompetency) }}
    <p id="field_row_{{ form.vars.id}}_jobPositions">
        {{ form_label(form.jobPositionsLabel) }}
        <span class="field">
            <div style="display: inline-block;width: 65%" id="{{ form.vars.id}}_jobPositions">
                {% for idJobPosition, title in jobPositions %}
                    <div id="{{ form.vars.id }}_jobPositions_div_{{ idJobPosition }}">
                        <input type="checkbox" name="{{ full_name }}[jobPositions][{{ idJobPosition }}]"
                        id="{{ form.vars.id }}_jobPositions_{{ idJobPosition }}"
                        {% if jobPositionChecked[idJobPosition] is defined %}checked="checked"{% endif%}
                        

                        />{{ title}}
                    </div>
                {% endfor %}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form.jobPositions) }}
                </label>   
            </div>
        </span>        
    </p>
    {{ form_row(form.skills) }}

    <script type="text/javascript">
        $(document).ready(function() {
            onChangeCompetencyArea(true);
        });
    </script>
{% endblock %}
