{% block app_competency_objective_type_row %}
    <script type="text/javascript">
        function onChangeCompetencyObjectiveType(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;

            var idCompetencyObjectiveType = jQuery('#{{ form.idCompetencyObjectiveType.vars.id }}').val();
            
            jQuery('#field_row_{{ form.businessUnits.vars.id }}').css('display', 'none');
            jQuery('#field_row_{{ form.departments.vars.id }}').css('display', 'none');
            jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', 'none');            

            if (idCompetencyObjectiveType == 1) { // COMPANY WIDE
            }
            else if (idCompetencyObjectiveType == 2) { // BUSINESS UNITS
                jQuery('#field_row_{{ form.businessUnits.vars.id }}').css('display', '');
            }
            else if (idCompetencyObjectiveType == 3) { // DEPARTMENTS
                jQuery('#field_row_{{ form.departments.vars.id }}').css('display', '');
            }
            else if (idCompetencyObjectiveType == 4) { // FUNCTIONAL ROLES
                jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', '');
            }

            if (loadPage) {
            }
        }     
    </script>

    {{ form_row(form.idCompetencyObjectiveType) }}
    {{ form_row(form.businessUnits) }}
    {{ form_row(form.departments) }}
    {{ form_row(form.functionalRoles) }}

    <script type="text/javascript">
        $(document).ready(function() {
            onChangeCompetencyObjectiveType(true);
        });
    </script>
{% endblock %}
