
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Competency Objectives"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="description" width="350">Competency Objective</th>  
                        <th field="idCompetencyObjectiveType" width="150">Competency Type</th>  
                        <th field="jobPosition" width="100">Job Position</th>  
                        <th field="action" width="120">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        <div id="{{ tableId }}_Toolbar" style="height: auto">    
            {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
        </div>

    <script type="text/javascript">
        function showJobPositions(title, idCompetencyObjective) {
            jQuery('#{{ tableId}}_Dialog').dialog('setTitle', title);
            jQuery('#{{ tableId}}_Dialog').dialog('open');
            jQuery('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobPositionHref }}?idCompetencyObjective=' + idCompetencyObjective); 
        }    
    </script>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:600px;height:300px;"
        closed="true">
        Dialog Content.  
    </div>
