<div style="padding: 0px">
    <table id="Job Position" class="easyui-datagrid"
        singleSelect="true" border="false">
        <thead>  
            <tr>  
                <th field="jobPosition" width="400">Applicable Job Position</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
