
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Weight"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="id" width="80">SN</th>  
                        <th field="name" width="250">Weighting Category</th>  
                        <th field="weight" width="200">Percentage</th>  
                        <th field="action" width="100">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>