
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Objective Setting"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="year" width="150">Appraisal Year</th>  
                        <th field="yearStatus" width="250">Appraisal Year Status</th>
                        <th field="objectiveSettingStatus" width="250">My objective setting status</th>                         
                        <th field="action" width="130">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        