<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    {% block HeaderScript %}
        {{ children['HeaderScript'].toHtml() | raw }}
    {% endblock %}
</head>

{% block BODY %}
<body class="loggedin">
    <!-- START OF HEADER -->
    {% block ContentHeader %}
    <div class="header radius3">
        <div class="headerinner">
            <div style="height: 37px; color: white; font-size: 25px; font-style: bold"><b>&nbsp;&nbsp;&nbsp;{{ pageTitle | default('') }}</b></div>
            <div class="headright">
                <div class="headercolumn">&nbsp;</div>

                <!-- FIX ME -->
                <div id="notiPanel" class="headercolumn" style="display: none">
                    <div class="notiwrapper">
                        <a href="ajax/messages.php" class="notialert radius2">5</a>
                        <div class="notibox">
                            <ul class="tabmenu">
                                <li class="current"><a href="ajax/messages.php" class="msg">Messages (2)</a></li>
                                <li><a href="ajax/activities.php" class="act">Recent Activity (3)</a></li>
                            </ul>
                            <br clear="all" />
                            <div class="loader"><img src="images/loaders/loader3.gif" alt="Loading Icon" /> Loading...</div>
                            <div class="noticontent"></div><!--noticontent-->
                        </div><!--notibox-->

                    </div><!--notiwrapper-->
                </div><!--headercolumn-->

                {% block UserPanel %}
                    {{ children['UserPanel'].toHtml() | raw }}
                {% endblock %}
            </div><!--headright-->
        </div><!--headerinner-->
    </div><!--header-->
    <!-- END OF HEADER -->
    {% endblock %}

    {% block MainContent %}
    <!-- START OF MAIN CONTENT -->
    <div class="mainwrapper">
        <div class="mainwrapperinner">
            {% block Menu %}
                <div class="mainleft">
                    <div class="mainleftinner">
                        <div class="leftmenu">
                            {{ children['Menu'].toHtml() | raw }}
                        </div><!--leftmenu-->
                        <div id="togglemenuleft"><a></a></div>
                    </div><!--mainleftinner-->
                </div><!--mainleft-->
            {% endblock %}

            {% block content %}
            <div class="maincontent noright">
                <div class="maincontentinner">
                    <ul class="maintabmenu">
                        <li class="current"><a href="#">&nbsp;</a></li>
                    </ul><!--maintabmenu-->
                    <div class="content">
                    </div><!--content-->
                </div><!--maincontentinner-->
                <div class="footer">
                    <p></p>
                </div><!--footer-->
            </div><!--maincontent-->
            {% endblock %}
       </div><!--mainwrapperinner-->
    </div><!--mainwrapper-->
  <!-- END OF MAIN CONTENT -->
  {% endblock %}

</body>
{% endblock %}
</html>
