
{% block app_job_function_row %}

    <script type="text/javascript">

    var businessUnitSkill = JSON.parse('{{ businessUnitSkillJson | raw }}');
    var departmentSkill = JSON.parse('{{ departmentSkillJson | raw }}');
    var functionalRoleSkill = JSON.parse('{{ functionalRoleSkillJson | raw }}');
    var jobPositionSkill = JSON.parse('{{ jobPositionSkillJson | raw }}');
    var jobSkill = JSON.parse('{{ jobSkillJson | raw }}');
    var skills = JSON.parse('{{ skillJson | raw }}');
    var skillSelected = JSON.parse('{{ skillSelectedJson | raw }}');
    var objectMapping = new Array();
    var objectId;
    var skillVisibles;

    function showJobPosition() {
        jQuery('#field_row_{{ form.applicableJobPositions.vars.id }}').css('display', '');
    }

    function clearJobPosition() {
        jQuery('#field_row_{{ form.applicableJobPositions.vars.id }}').css('display', 'none');
        jQuery('#{{ form.applicableJobPositions.vars.id }} option:selected').each(function(index, value) {
            jQuery(this).removeAttr('selected');
        });
    }

    function onChangeJobFunctionType(loadPage) {
        loadPage = loadPage == 'undefined' ? false : loadPage;

        var idJobFunctionType = jQuery('#{{ form.idJobFunctionType.vars.id }}');
        
        jQuery('#field_row_{{ form.businessUnits.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ form.departments.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ form.jobPositions.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ form.jobs.vars.id }}').css('display', 'none');

        if (idJobFunctionType.val() == 1) {
            jQuery('#field_row_{{ form.businessUnits.vars.id }}').css('display', '');
            showJobPosition();
        }
        else if (idJobFunctionType.val() == 2) {
            jQuery('#field_row_{{ form.departments.vars.id }}').css('display', '');            
            showJobPosition();
        }
        else if (idJobFunctionType.val() == 3) {
            jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', '');
            showJobPosition();
        }
        else if (idJobFunctionType.val() == 4) {
            jQuery('#field_row_{{ form.jobPositions.vars.id }}').css('display', '');    
            clearJobPosition();
        }
        else if (idJobFunctionType.val() == 5) {
            jQuery('#field_row_{{ form.jobs.vars.id }}').css('display', '');
            clearJobPosition();
        }
        else {
            clearJobPosition();
        }
        updateSkillRequired(loadPage);
    }

    function updateSkillRequired(loadPage) {
        loadPage = loadPage == 'undefined' ? false : loadPage;

        var idJobFunctionType = jQuery('#{{ form.idJobFunctionType.vars.id }}');

        var skillVisibles = {};
        objectId = '{{ form.businessUnits.vars.id }}';
        objectMapping = new Array();
        if (idJobFunctionType.val() == 1) { // BUSINESS UNIT
            objectId = '{{ form.businessUnits.vars.id }}';
            objectMapping = businessUnitSkill;
        }
        else if (idJobFunctionType.val() == 2) { // DEPARTMENT
            objectId = '{{ form.departments.vars.id }}';
            objectMapping = departmentSkill;
        }
        else if (idJobFunctionType.val() == 3) { // FUNCTIONAL ROLES
            objectId = '{{ form.functionalRoles.vars.id }}';
            objectMapping = functionalRoleSkill;
        }
        else if (idJobFunctionType.val() == 4) { // JOB POSITIONS
            objectId = '{{ form.jobPositions.vars.id }}';
            objectMapping = jobPositionSkill;
        }
        else if (idJobFunctionType.val() == 5) { // JOBS
            objectId = '{{ form.jobs.vars.id }}';
            objectMapping = jobSkill;
        }
        if (idJobFunctionType.val() != 0) {
            jQuery('#' + objectId + ' option:selected').each(function(index, value) {
                var idObj = jQuery(this).val();

                if (objectMapping != 'undefined') {
                    if (objectMapping[idObj] != 'undefined') {
                        for (idS in objectMapping[idObj]) {
                            var idSkill = objectMapping[idObj][idS];
                            skillVisibles[idSkill] = 1;
                        }
                    }                        
                }
                    
            });
        }

        jQuery('#{{ form.skills.vars.id }} option').each(function(index, value) { 
            jQuery(this).remove();
        });

        var skillBox = jQuery('#{{ form.skills.vars.id }}');
        for (idSkill in skillVisibles) {
            skillBox.append('<option value='+ idSkill + '>' + skills[idSkill] + '</option>');
        }

        if (loadPage) {
            jQuery('#{{ form.skills.vars.id }} option').each(function(index, value) {
                for (id in skillSelected) {
                    var idSkill = skillSelected[id];
                    if (jQuery(this).val() == idSkill) {
                        jQuery(this).attr('selected', 'selected');
                    }
                }
            });            
        }
    }    
    </script>

    {{ form_row(form.idJobFunctionType) }}
    {{ form_row(form.businessUnits) }}
    {{ form_row(form.departments) }}
    {{ form_row(form.functionalRoles) }}
    {{ form_row(form.jobPositions) }}
    {{ form_row(form.jobs) }}
    {{ form_row(form.skills) }}
    {{ form_row(form.applicableJobPositions)}}

    <script type="text/javascript">
        onChangeJobFunctionType(true);
    </script>

{% endblock %}