    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Job Function"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idKra" width="170">Key Result Area</th>   
                        <th field="idJobFunctionType" width="130">Job Function Type</th>                          
                        <th field="description" width=250">Job Function</th>  
                        <th field="action" width="130">Action</th>   
                    </tr>  
                </thead>  
            </table>
    </div>

    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>

    <script type="text/javascript">
    function showApplicableJob(title, idJobFunction) {
        $('#{{ tableId}}_Dialog').dialog('setTitle', title);
        $('#{{ tableId}}_Dialog').dialog('open');
        $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showApplicableJobHref }}?idJobFunction=' + idJobFunction); 
    }
    </script>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:400px;height:200px;"
        closed="true">
        Dialog Content.  
    </div>
