<div style="padding: 10px">
    {% if result is not empty %}
        {% for name in result %}
            <p>{{ name}}</p> <br/>
        {% endfor %}
    {% else %}
        No job found
    {% endif %}
</div>
