
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:730px;height:440px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Introspection Questions"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="id" width="80">SN</th>  
                        <th field="question" width="460">Question</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>