
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Key Result Area"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="id" width="80">SN</th>  
                        <th field="name" width="300">Key Result Area</th>  
                        <th field="view" width="160">View</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
    </div>
    <script type="text/javascript">
        function showJobFunctions(title, idKra) {
            jQuery('#{{ tableId}}_Dialog').dialog('setTitle', title);
            jQuery('#{{ tableId}}_Dialog').dialog('open');
            jQuery('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobFunctionHref }}?idKra=' + idKra); 
        }    
    </script>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:600px;height:300px;"
        closed="true">
        Dialog Content.  
    </div>
