<div style="padding: 10px">
    <table id="Job Function" class="easyui-datagrid"
        singleSelect="true">
        <thead>  
            <tr>  
                <th field="idJobFunctionType" width="120">Job Function Type</th>
                <th field="description" width="400">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row[0] }} </td>
                    <td>{{ row[1] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
