
{% block app_employee_job_row %}

    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);

        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var departmentJobsJson = '{{ departmentJobsJson | raw }}';
        var departmentJobs = JSON.parse(departmentJobsJson);

        var jobName = JSON.parse('{{ jobsJson | raw }}');


        function updateGuiBusinessUnit(loadPage) {         
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();
            var departments = businessUnitDepartments[idBusinessUnit];

            // Clear department & jobs
            jQuery('#{{ form.idDepartment.vars.id }} option').each(function(index, value) {
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });
            jQuery('#{{ form.idJob.vars.id }} option').each(function(index, value) {
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.idDepartment.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idDepartment.vars.id }}').val({{ idDepartmentSelected }});
            }
        }

        function updateGuiDepartment(loadPage) {       
            loadPage = loadPage == 'undefined' ? false : loadPage;

            var idDepartment = jQuery('#{{ form.idDepartment.vars.id }} :selected').val();
            var jobs = departmentJobs[idDepartment];

            // Clear job
            jQuery('#{{ form.idJob.vars.id }} option').each(function(index, value) {
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var jobSelect = jQuery('#{{ form.idJob.vars.id }}');
            for (id in jobs) {
                var idJob = jobs[id];
                jobSelect.append('<option value='+ idJob + '>' + jobName[idJob] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idJob.vars.id }}').val({{ idJobSelected }});
            }
        }       
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}
    {{ form_row(form.idJob) }}

    <script type="text/javascript">

        updateGuiBusinessUnit(true);
        updateGuiDepartment(true);
    </script>
{% endblock %}
