
    <script type="text/javascript">
        var currentIdSelected = 0;
        var currentTitleSelected = '';

        function showEmployeeViewMenu(idElement, id, title, isAppraiser) {
            currentIdSelected = id;
            currentTitleSelected = title;

            var viewMenu = jQuery('#{{ tableId }}_ViewMenu');

            viewMenu.menu('appendItem', {
                id: '{{ tableId}}_Menu_JobFunction',
                text: 'View job functions',
                name: 'ViewJobFunction'
            });
            if (isAppraiser == 1) {
                viewMenu.menu('appendItem', {
                    id: '{{ tableId}}_Menu_ViewAppraisees',
                    text: 'View appraisees',
                    name: 'ViewAppraisees'
                });
            }
            viewMenu.menu('appendItem', {
                id: '{{ tableId}}_Menu_ObjectiveSettingHistory',
                text: 'View appraisal history',
                name: 'ViewObjectiveSettingHistory'
            });
            viewMenu.menu('appendItem', {
                id: '{{ tableId}}_Menu_AddAppraisalYear',
                text: 'Add appraisal year',
                name: 'AddAppraisalYear'
            });
            viewMenu.menu('appendItem', {
                id: '{{ tableId}}_Menu_AddAppraisalCycle',
                text: 'Add review periods',
                name: 'AddAppraisalCycle'
            });
            

            var elementPosition = jQuery('#' + idElement).offset();            
            viewMenu.menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                }
            );
        }
        function hideEmployeeViewMenu() {
            var viewMenu = jQuery('#{{ tableId }}_ViewMenu');
            viewMenu.menu('removeItem',  jQuery('#{{ tableId}}_Menu_JobFunction')[0]);
            var appraisee =  jQuery('#{{ tableId}}_Menu_ViewAppraisees');
            if (appraisee.length != 0) {
                viewMenu.menu('removeItem',  appraisee[0]);
            }
            viewMenu.menu('removeItem',  jQuery('#{{ tableId}}_Menu_ObjectiveSettingHistory')[0]);
            viewMenu.menu('removeItem',  jQuery('#{{ tableId}}_Menu_AddAppraisalYear')[0]);
            viewMenu.menu('removeItem',  jQuery('#{{ tableId}}_Menu_AddAppraisalCycle')[0]);
        }

        function clickEmployeeViewMenu(item) {
            if (item.name == "ViewJobFunction") {
                showEmployeeJobFunctions(currentTitleSelected + ": View job functions", currentIdSelected);
            }
            else if (item.name == "ViewAppraisees") {
                showEmployeeAppraisees(currentTitleSelected + ": View appraisees", currentIdSelected);
            }
            else if (item.name == "ViewObjectiveSettingHistory") {
                jeasyui_add_new_tab('EmployeeTabs', 'Appraisal history (' + currentTitleSelected + ')', '{{ showObjectiveSettingHistoryHref }}?idEmployee=' + currentIdSelected)
            }
            else if (item.name == "AddAppraisalYear") {
                jeasyui_add_new_tab('EmployeeTabs', 'Add appraisal years (' + currentTitleSelected + ')', '{{ addAppraisalYearHref }}?id=' + currentIdSelected);
            }
            else if (item.name == "AddAppraisalCycle") {
                jeasyui_add_new_tab('EmployeeTabs', 'Add review periods (' + currentTitleSelected + ')', '{{ addAppraisalCycleHref }}?id=' + currentIdSelected);
            }

        }


        function updateAppraiser(id, name, tabId, url) {
            jQuery('#' + tabId).tabs('add', {
                title: 'Edit Appraiser (' + name + ')',
                closable: true,
                href: url
            });
        }

        function updateAppraisee(id, name, tabId, url) {
            jQuery('#' + tabId).tabs('add', {
                title: 'Edit Appraisees (' + name + ')',
                closable: true,
                href: url
            });
        }

    </script>

    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Employee"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="fullname" width="150">Full name</th>  
                        <th field="idJob" width="150">Job</th>
                        <th field="appraisalGroup" width="150">Appraisal Group</th>  
                        <th field="idAppraiser" width="120">Appraiser</th>  
                        <th field="action" width="140">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>

    <script type="text/javascript">
    function showEmployeeJobFunctions(title, idEmployee) {
        $('#{{ tableId}}_Dialog').dialog('setTitle', title);
        $('#{{ tableId}}_Dialog').dialog('open');
        $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showEmployeeJobFunctionHref }}?idEmployee=' + idEmployee); 
    }

    function showEmployeeAppraisees(title, idEmployee) {
        $('#{{ tableId}}_DialogAppraisee').dialog('setTitle', title);
        $('#{{ tableId}}_DialogAppraisee').dialog('open');
        $('#{{ tableId}}_DialogAppraisee').dialog('refresh', '{{ showEmployeeAppraiseesHref }}?idEmployee=' + idEmployee); 
    }
    </script>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:400px;height:200px;"
        closed="true">
        Dialog Content.  
    </div>

    <div id="{{ tableId}}_DialogAppraisee" class="easyui-dialog" title="Dialog" style="width:650px;height:300px;"
        closed="true">
        Dialog Content.  
    </div>

    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>
    
    <div id="{{ tableId }}_ViewMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickEmployeeViewMenu,onHide:hideEmployeeViewMenu">  
    </div>