<div style="padding: 0px">
    <table id="Appraisees" class="easyui-datagrid"
        singleSelect="true" border="false">
        <thead>  
            <tr>  
                <th field="a" width="140">Business Unit</th>
                <th field="b" width="140">Department</th>
                <th field="c" width="140">Job</th>
                <th field="d" width="200">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row['businessUnit'] }} </td>
                    <td>{{ row['department'] }} </td>
                    <td>{{ row['job'] }} </td>
                    <td>{{ row['fullname'] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
