Dear {{ name }},<br/>
<br/>
This is to inform you that your reviews for the appraisal cycle {{ cycle }} have been completed. 
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
