Dear {{ appraiserName }},<br/>
<br/>
This is to inform you that your appraisee {{ appraiseeName }} has submitted his/her review for {{ reviewPeriod }}. Kindly log in and rate the appraisee {{ appraiseeName }}.<br/>
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>

