Dear {{ adminName }},<br/>
<br/>
The appraiser {{ appraiserName }} has completed the quarterly review for appraisee {{ appraiseeName }}. Kindly log in to view this record
<br/><br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
