Dear {{ appraiseeName }},<br/>
<br/>
This is to inform you that your objectives for the appraisal year {{ year }} have been set. Kindly log in to accept the Objectives to complete this process for appraisal year {{ year }}<br/>
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
