Dear {{ appraiserName }},<br/>
<br/>
This is to inform you that the appraisee {{ appraiseeName }} has agreed to the Objectives set by the appraiser.<br/>
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
