Dear {{ appraiseeName }},<br/>
<br/>
The appraiser has completed the review process. Kindly log in to view your performance review for {{ reviewPeriod }}.<br/>
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
