Dear {{ name }},<br/>
<br/>
This is to inform you that your objectives for the appraisal year {{ year }} have been completed. 
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
