Dear {{ employeeName }},<br/>
<br/>
The review process has been initiated by HR. Kindly log in to rate your quarterly performance. The review process will end on {{ lastDate }}<br/>
<br/>
<a href="{{ applicationUrl }}/Admin/Default/">Go to appraisal system</a>
<br/>
