Dear {{ employeeName }},<br/>
<br/>
Welcome!<br/>
<br/>
This is to inform you that the appraisal cycle for {{ year }} has commenced,  and objectives setting process will close on {{ endDate}}. <br/>
<br/>
To view your Profile  and change password please do the following:<br/>
-     Click on this <a href="{{ applicationUrl }}/Admin/Default/">Link</a> to go to performance system<br/>
-     Sign in with your email e.g tadewunmi@ipnxnigeria.net (default password is 123456)<br/>
-     Change your password by clicking on "Profile" (Top right corner). Edit password - enter current password & new password - save.<br/>
<br/>
To conduct your objective setting, please  meet with your appraiser as shown on your profile page.<br/>
<br/>
For questions or assistance required, please send a mail to perfmgt@ipnxnigeria.net.<br/>
<br/>
Kind Regards,<br/>
<br/>
Temitope Adewunmi<br/>
Human Capital Management<br/>
ipNX Nigeria Limited<br/>
4, Balarabe Musa Crescent<br/>
Victoria Island, Lagos<br/>
<br/>
Tel: + 234 1 6280000, ext 1210<br/>
D/L:+ 234 6280063<br/>
Mobile: 08159694007<br/>
E-Mail: tadewunmi@ipnxnigeria.net<br/>
URL: www.ipnxnigeria.net<br/>
