Dear {{ employeeName }},<br/>
<br/>
{% if endDate is defined %}Review period has been set to be completed by {{ endDate }}. {% endif %}Kindly ensure you complete your forms and those of your appraisees if applicable before the deadline.<br/>
<br/>
Should you need assistance, kindly contact the HR help desk or send an email to perfmgt@ipnxnigeria.net.<br/>
<br/>
Kind Regards,<br/>
<br/>
Perf Mgt Support<br/>

