Dear {{ employeeName }},<br/>
<br/>
This is a quick reminder that the objective setting period ends on {{ endDate }}.<br/>
<br/>
Kindly ensure that you have agreed objectives with your appraiser/appraisee and submitted to HCM by this date.<br/>
<br/>
If you have any questions or need assistance with this process, email perfmgt@ipnxnigeria.net.<br/>
<br/>
Kind Regards,<br/>
<br/>
Perf Mgt Support<br/>

