
{% block app_functional_role_position_row %}
    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);
 
        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var idDepartmentSelected = '{{ idDepartmentSelected }}';

        var jobPositions = JSON.parse('{{ jobPositionsJson | raw }}');
        var departmentPositions = JSON.parse('{{ departmentPositionsJson | raw }}');
        var jobPositionChecked = JSON.parse('{{ jobPositionCheckedJson | raw }}');
        
        function updateGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();
            var departments = businessUnitDepartments[idBusinessUnit];

            jQuery('#{{ form.idDepartment.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.idDepartment.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idDepartment.vars.id }}').val({{ idDepartmentSelected }});
            }

            updateDepartmentGui(false);
        }        

        function updateDepartmentGui(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;

            var idDepartment = jQuery('#{{ form.idDepartment.vars.id }} :selected').val();
            var jobPositions = departmentPositions[idDepartment];

            jQuery('#{{ form.vars.id}}_jobPositions input').each(function(index, value) { 
                jQuery(this).removeAttr('checked');
                jQuery(this).parent().hide();
            });

            for (id in jobPositions) {
                var idJobPosition = jobPositions[id];
                jQuery('#{{ form.vars.id }}_jobPositions_div_' + idJobPosition).show();
            }

            if (loadPage) {
                for (id in jobPositionChecked) {
                    var idJobPosition = jobPositionChecked[id];
                    jQuery('#{{ form.vars.id }}_jobPositiosn_' + idJobPosition).attr('checked', 'checked');
                }
            }
        }
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}

    <p id="field_row_{{ form.vars.id}}_jobPositions">
        {{ form_label(form.jobPositions) }}
        <span class="field">
            <div style="display: inline-block;width: 65%" id="{{ form.vars.id}}_jobPositions">
                {% for idJobPosition, title in jobPositions %}
                    <div id="{{ form.vars.id }}_jobPositions_div_{{ idJobPosition }}">
                        <input type="checkbox" name="{{ full_name }}[jobPositions][{{ idJobPosition }}]"
                        id="{{ form.vars.id }}_jobPositiosn_{{ idJobPosition }}"
                        {% if jobPositionChecked[idJobPosition] is defined %}checked="checked"{% endif%}
                        />{{ title}}
                    </div>
                {% endfor %}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form.jobPositions) }}
                </label>   
            </div>
        </span>        
    </p>

    <script type="text/javascript">
    $(document).ready(function() {
        updateGui(true);        
        updateDepartmentGui(true);
    });

    </script>
{% endblock %}
