
{% block app_functional_role_position_fixed_row %}
    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}

   
    <p id="field_row_{{ form.vars.id}}_jobPositions">
        {{ form_label(form.jobPositions) }}
        <span class="field">
            <div style="display: inline-block;width: 65%" id="{{ form.vars.id}}_jobPositions">
                {% for idJobPosition, title in jobPositions %}
                    <div id="{{ form.vars.id }}_jobPositions_div_{{ idJobPosition }}">
                        <input type="checkbox" name="{{ full_name }}[jobPositions][{{ idJobPosition }}]"
                        id="{{ form.vars.id }}_jobPositions_{{ idJobPosition }}"
                        {% if jobPositionChecked[idJobPosition] is defined %}checked="checked"{% endif%}
                        />{{ title}}
                    </div>
                {% endfor %}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form.jobPositions) }}
                </label>   
            </div>
        </span>        
    </p>
    <script type="text/javascript">
    var lockedPositions = JSON.parse('{{ jobPositionLockedJson | raw }}');
    $(document).ready(function() {
        // Lock job positions
        for (id in lockedPositions) {
            var idPosition = lockedPositions[id];
            var posInput = jQuery('#{{ form.vars.id }}_jobPositions_' + idPosition);
            
            posInput.attr('onchange', 'this.checked=!this.checked;');      
            posInput.attr('onkeydown', 'this.checked=!this.checked;');      
            posInput.css('opacity', '0.24');
        }
    });
    </script>
{% endblock %}
