<div class="widgetbox" style="width: {{ width | default('300px') }}">
    <div class="title"><h2 class="general"><span>{{ title | default('Widget') }}</span></h2></div>
    <div class="widgetcontent {{ class | default('') }}">
        {{ children['Content'].toHtml() | raw }}
    </div><!--widgetcontent-->
</div><!--widgetbox-->
