<html>
<head>
    <title>{{ title | default('Appraisal System')}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/default/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/default/icon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/style.css') }}">
    
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery.easyui.min.js') }}"></script>
    

    <script type="text/javascript">
        function switchPage(pageTitle, pageHref) {
            var centerPanel = jQuery('#main').layout('panel', 'center');
            centerPanel.panel('setTitle', pageTitle);
            centerPanel.panel('refresh', pageHref);
        }
    </script>

    {% endblock %}
</head>
<body>
    <div id="topBanner">
        {% block topBanner %}
            <h3 style="margin-left:10px; margin-top: 10px; color: #15428B">Appraisal system</h3>
        {% endblock %}
    </div>
    <div class="easyui-layout" id="main" style="height:600px;margin-left: 10px; margin-right: 10px;">  
        <div region="west" split="true" title="Menu" style="width:210px;">  
            {% block menu %}        
                <ul id="menu" class="easyui-tree">  
                    {% for menuId, menuItem in menu %}
                        <li>
                            <span><a href="{{ menuItem['href']}}">{{ menuItem['title'] }}</a></span>
                            {% if menuItem['childs'] is defined %}
                                <ul>
                                    {% for cMenuId, cMenuItem in menuItem['childs'] %}
                                        <li>
                                            <span><a href="{{ cMenuItem['href'] }}">{{ cMenuItem['title']}}</a></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}           
                </ul>         
            {% endblock %}
        </div>  
        <div id="content" region="center" title="Dashboard" style="padding:5px;" href="{{ defaultPage }}">
        </div>  
    </div>  
</body>
</html>