<html>
<head>
    <title>{{ title | default('Appraisal System')}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block header %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/default/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/icon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/style.css') }}">
    
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/general.js') }}"></script>
    <script type="text/javascript">
        function switchPage(pageTitle, pageHref) {
            var centerPanel = jQuery('#main').layout('panel', 'center');
            centerPanel.panel('setTitle', pageTitle);
            centerPanel.panel('refresh', pageHref);
        }
    </script>

    {% endblock %}
</head>
<body>
    <div id="topBanner">
        {% block topBanner %}
            <img src="{{ asset('bundles/designjeasyui/images/company-logo.jpg')}}" height="58px" />
        {% endblock %}
        <div id="topProfile">
            <a id="SwitchPageLink" href="javascript:showSwitchPageMenu()">Switch page</a> | 
            <a id="ProfilePageLink" href="{{ profileHref }}">Profile</a> | 
            <a href="{{ logoutHref }}">Logout</a>
            <script type="text/javascript">
            function showSwitchPageMenu() {
                var elementPosition = jQuery('#SwitchPageLink').offset();       
                jQuery('#SwitchPageMenu').menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                });
            }

            function clickSwitchPage(item) {
                if (item.name == 'AdminPage') {
                    window.location = '{{ adminPageHref }}';
                }
                else if (item.name == 'EmployeePage') {
                    window.location = '{{ employeePageHref }}';
                }
            }

            </script>
            <div id="SwitchPageMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickSwitchPage">  
                {% for id, title in swichPages %}
                    <div name="{{ id }}">{{ title }} </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="easyui-layout" id="main" style="height:600px;margin-left: 10px; margin-right: 10px;">  
        <div region="west" split="true" title="Menu" style="width:280px;">  
            {% block menu %}        
                <ul id="menu" class="easyui-tree">  
                    {% for menuId, menuItem in menu %}
                        <li iconCls="{{ menuItem['icon-class'] | default('icon-none') }}">
                            <span><a href="{{ menuItem['href']}}">{{ menuItem['title'] }}</a></span>
                            {% if menuItem['childs'] is defined %}
                                <ul>
                                    {% for cMenuId, cMenuItem in menuItem['childs'] %}
                                        <li  iconCls="{{ cMenuItem['icon-class'] | default('icon-none') }}">
                                            <span><a href="{{ cMenuItem['href'] }}">{{ cMenuItem['title']}}</a></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}           
                </ul>         
            {% endblock %}
        </div>  
        <div id="content" region="center" title="Dashboard" href="{{ defaultPage }}">
        </div>  
    </div>  
    <div style="margin-left: 10px; margin-right: 10px;">
        <div style="margin-left: auto; margin-right: auto; width: 300px; margin-top: 10px">
            <b style="font-size: 11px">Powered by </b> <img src="{{ asset('bundles/designjeasyui/images/footer-logo.jpg')}}" height="20px" />    
        </div>
    </div>    
</body>
</html>