{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="ReportQueryTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="Query" href="{{ queryHref }}" cache="true">  
        </div>
    </div>
{% endblock %}
