{% extends 'AppraisalAdminBundle:Form:common_form_content.html.twig'%}

{% block content %}
    <div style="width: 98%; height: 100%; padding-left: 15px; padding-top: 10px">
        <div id="p" class="easyui-panel" title="Query" style="width:750px;height:470px">
            {% include 'AppraisalAdminBundle:Report:queryForm.html.twig' with {'form': form, 'formView': form['view'], 'parameters': parameters} %}
        </div>
    </div>
{% endblock %}
