{% form_theme form['view'] 'AppraisalAdminBundle:Form:FormThemes.html.twig' %}

<script type="text/javascript">
function scopeOnChange() {
    var scopeValue = jQuery('#{{ formView.scope.vars.id }} :selected').val();
    if (scopeValue == 1) { 
        jQuery('#field_row_{{ formView.businessUnits.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ formView.departments.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ formView.jobPositions.vars.id }}').css('display', 'none');
        jQuery('#field_row_{{ formView.jobs.vars.id }}').css('display', 'none');
    }
    else {
        jQuery('#field_row_{{ formView.businessUnits.vars.id }}').css('display', '');
        jQuery('#field_row_{{ formView.departments.vars.id }}').css('display', '');
        jQuery('#field_row_{{ formView.jobPositions.vars.id }}').css('display', '');
        jQuery('#field_row_{{ formView.jobs.vars.id }}').css('display', '');
    }    

    businessUnitOnChange();
    jobPositionOnChange();
}

function clearBox(boxId) {
    jQuery(boxId + ' option').each(function(index, value) { 
        if (jQuery(this).val() != 0) {
            jQuery(this).remove();
        }
    });
}

// BUSINESS UNITS
var businessUnitDepartments = JSON.parse('{{ parameters['businessUnitDepartmentsJson'] | raw }}');
var departmentName = JSON.parse('{{ parameters['departmentsJson'] | raw }}');
function businessUnitOnChange() {
    clearBox('#{{ formView.departments.vars.id }}');

    var departmentSelect = jQuery('#{{ formView.departments.vars.id }}');

    jQuery('#{{ formView.businessUnits.vars.id }} option').each(function(index, value) {
        if (jQuery(this).is(':selected')) {
            for (id in businessUnitDepartments[jQuery(this).val()]) {
                var idDepartment = businessUnitDepartments[jQuery(this).val()][id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }
        }
    });
}

// JOB POSITIONS
var jobPositionJobsJson = JSON.parse('{{ parameters['jobPositionJobsJson'] | raw }}');
var jobName = JSON.parse('{{ parameters['jobsJson'] | raw }}');
function jobPositionOnChange() {
    clearBox('#{{ formView.jobs.vars.id }}');

    var jobSelect = jQuery('#{{ formView.jobs.vars.id }}');

    jQuery('#{{ formView.jobPositions.vars.id }} option').each(function(index, value) {
        if (jQuery(this).is(':selected')) {
            for (id in jobPositionJobsJson[jQuery(this).val()]) {
                var idJob = jobPositionJobsJson[jQuery(this).val()][id];
                jobSelect.append('<option value='+ idJob + '>' + jobName[idJob] + '</option>');
            }
        }
    });
}

function loadQueryFormPage() {      
    scopeOnChange();
}

function getBoxSelected(boxId) {
    var selected = '0';
    jQuery(boxId + ' option').each(function(index, value) {
        if (jQuery(this).is(':selected')) {
            selected += ',' + jQuery(this).val();
        }
    });
    return selected;
}

function submitQuery(formId) {
    var url = '{{ parameters['queryUrl'] }}?';
    var scopeVal = jQuery('#{{ formView.scope.vars.id }} :selected').val();
    if (scopeVal == 1) {
        url += 'scope=1&';
    }
    else {
        url += 'scope=2&';

        var selected = '0';
        
        selected = getBoxSelected('#{{ formView.businessUnits.vars.id }}');
        url += 'businessUnits=' + selected + '&';
        selected = getBoxSelected('#{{ formView.departments.vars.id }}');
        url += 'departments=' + selected + '&';
        selected = getBoxSelected('#{{ formView.jobPositions.vars.id }}');
        url += 'jobPositions=' + selected + '&';
        selected = getBoxSelected('#{{ formView.jobs.vars.id }}');
        url += 'jobs=' + selected + '&';
    }
    var idAppraisalCycle = jQuery('#{{ formView.idAppraisalCycle.vars.id }} :selected').val();
    url += 'idAppraisalCycle=' + idAppraisalCycle;
    jeasyui_add_new_tab('ReportQueryTabs', 'Query result', url);
}
</script>

<form id="{{ form['id'] }}" class="stdform" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
    {% for element in form['view'] %}
        {% if 'hidden' not in element.vars.block_prefixes %}
            {{ form_row(element) }}
        {% endif %}
    {% endfor %}
    
    {% for element in form['view'] %}
        {% if 'hidden' in element.vars.block_prefixes %}
            {{ form_widget(element) }}
        {% endif %}
    {% endfor %}
                        
    <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
        <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitQuery('{{ form['id'] }}')">
            <span>Query</span>
        </a>
    </p>
</form>

<script type="text/javascript">
    loadQueryFormPage();
</script>