    
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Appraisal Result"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="id" width="50">SN</th>  
                        <th field="name" width="200">Appraisee Name</th>  
                        <th field="competencyScore" width="150">Competency Score</th>  
                        <th field="objectiveScore" width="150">Operational Objective Score</th>  
                        <th field="totalScore" width="150">Total</th>  
                    </tr>  
                </thead>  
            </table>
    </div>
