{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="GoalAreaTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="List" href="{{ listHref }}" cache="false">  
        </div>

        <div title="Add new" href="{{ formCreateHref }}" cache="false">
        </div>
    </div>
{% endblock %}
