{% block app_kpi_type_row %}
    <script type="text/javascript">
        function onChangeKpiType(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;

            var idCompetencyObjectiveType = jQuery('#{{ form.idKpiType.vars.id }}').val();
            
            jQuery('#field_row_{{ form.idJobFunction.vars.id }}').css('display', 'none');
            jQuery('#field_row_{{ form.idCompetencyObjective.vars.id }}').css('display', 'none');  

            if (idCompetencyObjectiveType == 1) { // OPERATIONAL - JOB FUNCTION
                jQuery('#field_row_{{ form.idJobFunction.vars.id }}').css('display', '');
            }
            else if (idCompetencyObjectiveType == 2) { // COMPETENCY - COMPETENCY OBJECTIVE
                jQuery('#field_row_{{ form.idCompetencyObjective.vars.id }}').css('display', '');
            }
            if (loadPage) {
            }
        }     
    </script>

    {{ form_row(form.idKpiType) }}
    {{ form_row(form.idJobFunction) }}
    {{ form_row(form.idCompetencyObjective) }}

    <script type="text/javascript">
        $(document).ready(function() {
            onChangeKpiType(true);
        });
    </script>
{% endblock %}
