
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="KPI"
                singleSelect="true" 
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idKpiType" width="120">KPI Type</th>  
                        <th field="kpiAction" width="250">Action</th>  
                        <th field="description" width="250">KPI</th>  
                        <th field="action" width="100">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        <div id="{{ tableId }}_Toolbar" style="height: auto">    
            {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
        </div>