
{% block app_skill_applied_row %}
    {{ form_row(form.idSkillType) }}
    {{ form_row(form.functionalRoles) }}
    {{ form_row(form.jobPositions) }}

    <script type="text/javascript">
    function onChangeSkillType() {
        var skillType = jQuery('#{{ form.idSkillType.vars.id }}');
        if (skillType.val() == 1) { // Technical 
            jQuery('#field_row_{{ form.jobPositions.vars.id }}').css('display', 'none');
            jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', '');
        }
        else if (skillType.val() == 2) { // Generic
            jQuery('#field_row_{{ form.jobPositions.vars.id }}').css('display', '');
            jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', 'none');
        }
        else {
            jQuery('#field_row_{{ form.jobPositions.vars.id }}').css('display', 'none');
            jQuery('#field_row_{{ form.functionalRoles.vars.id }}').css('display', 'none');
        }
    }
    onChangeSkillType();
    </script>

{% endblock %}