
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Skill"
                singleSelect="true"                
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="name" width=150">Skill Name</th>  
                        <th field="idSkillType" width="140">Skill Type</th>  
                        <th field="skillApplied" width="160">Skill Applied</th>  
                        <th field="job" width="140">Jobs</th>   
                        <th field="action" width="130">Action</th>   
                    </tr>  
                </thead>  
            </table>
    </div>

    <script type="text/javascript">
    function showSkillApplied(title, idSkill) {
        $('#{{ tableId}}_Dialog').dialog('setTitle', title);
        $('#{{ tableId}}_Dialog').dialog('open');
        $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showSkillAppliedHref }}?idSkill=' + idSkill); 
    }
    function showJobApplied(title, idSkill) {
        $('#{{ tableId}}_Dialog').dialog('setTitle', title);
        $('#{{ tableId}}_Dialog').dialog('open');
        $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobAppliedHref }}?idSkill=' + idSkill); 
    }
    </script>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:400px;height:200px;"
        closed="true">
        Dialog Content.  
    </div>
    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>
    