
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:440px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Appraisal Period Result"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="reviewName" width="200">Year</th>  
                        <th field="status" width="160">Status</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        