{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="AppraisalViewResultTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="Objective Setting" href="{{ listHref }}" cache="false">  
        </div>
        <div title="Appraisal Period" href="{{ appraisalHref }}" cache="false">  
        </div>
    </div>
{% endblock %}
