
{% block app_business_unit_department_multiple_row %}
    <p id="field_row_{{ form.vars.id}}_business_unit">
        {{ form_label(form.businessUnitLabel) }}
        <span class="field">
            <div style="display: inline-block;width: 65%" id="{{ form.vars.id}}_business_unit">
                {% for idBusinessUnit, title in businessUnit %}
                    <div>
                        <input type="checkbox" name="{{ full_name }}[businessUnit][{{ idBusinessUnit }}]"
                         id="{{ form.vars.id }}_businessUnit_{{ idBusinessUnit }}"
                        {% if businessUnitChecked[idBusinessUnit] is defined %}checked="checked"{% endif%}
                        onchange="javascript:updateGui()"    
                        />{{ title}}
                    </div>
                {% endfor %}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form.businessUnit) }}
                </label>
            </div>
            
        </span>        
    </p>

    <p id="field_row_{{ form.vars.id}}_department">
        {{ form_label(form.departmentLabel) }}
        <span class="field">
            <div style="display: inline-block;width: 65%" id="{{ form.vars.id}}_department">
                {% for idDepartment, title in department %}
                    <div id="{{ form.vars.id }}_department_div_{{ idDepartment }}">
                        <input type="checkbox" name="{{ full_name }}[department][{{ idDepartment }}]"
                        id="{{ form.vars.id }}_department_{{ idDepartment }}"
                        {% if departmentChecked[idDepartment] is defined %}checked="checked"{% endif%}
                        onchange="javascript:updateGui()"
                        />{{ title}}
                    </div>
                {% endfor %}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form.department) }}
                </label>   
            </div>
        </span>        
    </p>

    <script type="text/javascript">
        var businessUnitJson = '{{ businessUnitJson | raw }}';
        var businessUnit = JSON.parse(businessUnitJson);
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);

        function updateGui() {
            for (idBusinessUnit in businessUnit ) {
                var bu = jQuery('#{{ form.vars.id }}_businessUnit_' + idBusinessUnit);
                var departments = businessUnitDepartments[idBusinessUnit];

                for (id in departments) {
                    var idDepartment = departments[id];
                    var department = jQuery('#{{ form.vars.id }}_department_' + idDepartment);
                    var departmentDiv = jQuery('#{{ form.vars.id }}_department_div_' + idDepartment);
                    if (bu.is(':checked')) {
                        departmentDiv.css('display', '');
                    }
                    else {
                        department.attr('checked', false);
                        departmentDiv.css('display', 'none');
                    }
                    department.css('display', '');
                }

                if (bu.is(':checked')) {
                    var isExists = false;
                    for (id in departments) {
                        var idDepartment = departments[id];
                        var department = jQuery('#{{ form.vars.id }}_department_' + idDepartment);
                        if (department.is(':checked')) {
                            isExists = true;
                        }
                    }
                    if (isExists) {
                        bu.attr('onchange', 'this.checked=!this.checked; updateGui()');      
                        bu.attr('onkeydown', 'this.checked=!this.checked; updateGui()');      
                        bu.css('opacity', '0.24');
                    }
                    else {
                        bu.attr('onchange', 'updateGui()');      
                        bu.attr('onkeydown', 'updateGui()');      
                        bu.css('opacity', '1.0');
                    }
                }
            }
        }
        updateGui();

        var departmentLockedJson = '{{ departmentLocked | raw }}';
        var departmentLocked = JSON.parse(departmentLockedJson);
        for (id in departmentLocked ) {
            var idDepartmentLocked = departmentLocked[id];
            var department = jQuery('#{{ form.vars.id }}_department_' + idDepartmentLocked);            

            department.attr('onchange', 'this.checked=!this.checked; updateGui()');      
            department.attr('onkeydown', 'this.checked=!this.checked; updateGui()');      
            department.css('opacity', '0.24');
        }
    </script>
{% endblock %}
