{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="JobPositionTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="Compact View" href="{{ compactViewHref }}" cache="false">  
        </div>

        <div title="List" href="{{ listHref }}" cache="false">  
        </div>

        <div title="Add new" href="{{ formCreateHref }}" cache="false">
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        jQuery('#JobPositionTabs').tabs('select', '{{ selectedTab }}');
    });
    </script>
{% endblock %}
