
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Appraisees review periods"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idAppraisalCycle" width="150">Review Period</th>  
                        <th field="employeeName" width="150">Employee</th> 
                        <th field="status" width="150">Status</th>                         
                        <th field="action" width="130">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        
    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>