
{% block app_job_all_filter_row %}
    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);

        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var idDepartmentSelected = '{{ idDepartmentSelected }}';

        var functionalRoleName = JSON.parse('{{ functionalRolesJson | raw }}');
        var departmentFunctionalRoles = JSON.parse('{{ departmentFunctionalRoleJson | raw }}');
        var idFunctionalRoleSelected = '{{ idFunctionalRoleSelected }}';

        var jobPositionName = JSON.parse('{{ jobPositionsJson | raw }}');
        var departmentJobPositions = JSON.parse('{{ departmentJobPositionJson | raw }}');
        var idJobPositionSelected = '{{ idJobPositionSelected }}';

        function clearFunctionalRoleJobPosition() {
            // Clear functional roles, job position
            jQuery('#{{ form.idFunctionalRole.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });
            jQuery('#{{ form.idJobPosition.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });
        }

        function jobFilterAllUpdateGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();

            // Filter departments
            var departments = businessUnitDepartments[idBusinessUnit];
            jQuery('#{{ form.idDepartment.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.idDepartment.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idDepartment.vars.id }}').val({{ idDepartmentSelected }});
            }

            clearFunctionalRoleJobPosition();
        }        

        function jobFilterAllUpdateSelectDepartment(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idDepartment = jQuery('#{{ form.idDepartment.vars.id }} :selected').val();

            clearFunctionalRoleJobPosition();    
            // Filter functional roles
            var functionalRoles = departmentFunctionalRoles[idDepartment];
            
            var functionalRoleSelect = jQuery('#{{ form.idFunctionalRole.vars.id }}');
            for (id in functionalRoles) {
                var idFunctionalRole = functionalRoles[id];
                functionalRoleSelect.append('<option value='+ idFunctionalRole + '>' + functionalRoleName[idFunctionalRole] + '</option>');
            }

            // Filter job position
            var jobPositions = departmentJobPositions[idDepartment];
            var jobPositionSelect = jQuery('#{{ form.idJobPosition.vars.id }}');
            for (id in jobPositions) {
                var idJobPosition = jobPositions[id];
                jobPositionSelect.append('<option value='+ idJobPosition + '>' + jobPositionName[idJobPosition] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idFunctionalRole.vars.id }}').val({{ idFunctionalRoleSelected }});
                jQuery('#{{ form.idJobPosition.vars.id }}').val({{ idJobPositionSelected }});
            }            
        }
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}
    {{ form_row(form.idFunctionalRole) }}
    {{ form_row(form.idJobPosition) }}

    <script type="text/javascript">
    $(document).ready(function() {
        jobFilterAllUpdateGui(true);
        jobFilterAllUpdateSelectDepartment(true);
    });
    </script>
{% endblock %}
