{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <script type="text/javascript">
        function formatWrap(val,row){  
            return '<div style="white-space:wrap;">' + val + '</div>';
        }

        var currentIdSelected = 0;
        var currentTitleSelected = '';

        function showJobViewMenu(idElement, id, title) {
            currentIdSelected = id;
            currentTitleSelected = title;

            var elementPosition = jQuery('#' + idElement).offset();            
            jQuery('#{{ tableId }}_ViewMenu').menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                }
            );
        }

        function clickJobViewMenu(item) {
            if (item.name == 'ViewJobFunction') {
                $('#{{ tableId}}_Dialog').dialog('setTitle', currentTitleSelected + ': View applicable Job function' );
                $('#{{ tableId}}_Dialog').dialog('open');
                $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobJobFunctionHref }}?idJob=' + currentIdSelected); 
            }
            else if (item.name == 'ViewCompetency') {
                $('#{{ tableId}}_Dialog').dialog('setTitle', currentTitleSelected + ': View required competencies');
                $('#{{ tableId}}_Dialog').dialog('open');
                $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobCompetenciesHref }}?idJob=' + currentIdSelected); 
            }
            else if (item.name == 'ViewSkill') {
                $('#{{ tableId}}_Dialog').dialog('setTitle', currentTitleSelected + ': View required skills');
                $('#{{ tableId}}_Dialog').dialog('open');
                $('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobSkillHref }}?idJob=' + currentIdSelected); 
            }
        }

    </script>    

    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Job"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar"
                >
                <thead>  
                    <tr>  
                        <th field="job" width="140" formatter="formatWrap">Job</th>  
                        <th field="idBusinessUnit" width="100">Business Unit</th>  
                        <th field="idDepartment" width="100">Department</th>  
                        <th field="idFunctionalRole" width="100">Functional Role</th>  
                        <th field="idJobPosition" width="100">Job Position</th>  
                        <th field="view" width="50">View</th>  
                        <th field="jobStatus" width="70">Job Status</th>  
                        <th field="numberEmployee" width="40">No.</th>  
                    </tr>  
                </thead>  
            </table>
    </div>
    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>


    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:700px;height:300px;"
        closed="true">
        Dialog Content.  
    </div>

    <div id="{{ tableId }}_ViewMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickJobViewMenu">  
        <div name="ViewJobFunction">View applicable job functions</div>  
        <div name="ViewCompetency">View required competencies</div>  
        <div name="ViewSkill">View required skills</div>  
    </div>
{% endblock %}