<div style="padding: 0">
    <table id="Competency" class="easyui-datagrid"
        singleSelect="true" border="false">
        <thead>  
            <tr>  
                <th field="area" width="120">Area</th>
                <th field="sub_area" width="120">Sub Area</th>
                <th field="competency" width="400">Competency</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row[0] }} </td>
                    <td>{{ row[1] }} </td>
                    <td>{{ row[2] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
