{% if title is not empty %}
    <div class="contenttitle radiusbottom0">
        <h2 class="table"><span>{{ title }}&nbsp;</span></h2>
    </div><!--contenttitle-->   
{% endif %}

{% if (children['LeftButtons'].isHaveChilds()) or (children['RightButtons'].isHaveChilds()) %}
<div class="tableoptions">
    <div class="leftBox">
        {{ children['LeftButtons'].toHtml() | raw }}
    </div>
    <div class="rightBox">
        {{ children['RightButtons'].toHtml() | raw}}
    </div>
</div>
{% endif %}

{% if children['Form'] is defined %}
<div id="{{ id }}_Form">
    {{ children['Form'].toHtml() | raw}}
</div>
{% endif %}

<table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <colgroup>
        {% for item in header %}
            <col class="{{ cycle(['con1', 'con0'], loop.index0) }}" {% if item['width'] is defined %}width="{{ item['width'] }}"{% endif %}/>
        {% endfor %}
    </colgroup>
    
    <thead>
        <tr>
            {% for item in header %}
                <th class="{{ cycle(['head1', 'head1'], loop.index0) }}">
                    {% if item['block'] is defined %}
                        {{ _context[item['block']].render() | raw }}
                    {% else %}
                        {{ item['title'] }}
                    {% endif %}
                </th>                
            {% endfor %}                
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
            <tr>
                {% for col in row %}
                    {% if col['span'] is defined %}
                        <td colspan="{{ col['span']}}">{{ col['data'] | raw}}</td>
                    {% else %}
                        <td>{{ col | raw }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

