{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="padding: 10px">
        <b>Objective setting phase status has been changed to 'Completed'</b>
    </div>
{% endblock %}