
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Appraisal Year"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="id" width="80">SN</th>  
                        <th field="year" width="150">Year</th>  
                        <th field="idType" width="150">Appraisal Type</th>  
                        <th field="status" width="160">Status</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>