{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="padding: 10px">
        <b>Objective setting phase notification email has been sent</b>
    </div>
{% endblock %}