
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:440px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Objective Setting Result"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idBusinessUnit" width="160">Business Unit</th>  
                        <th field="idDepartment" width="110">Department</th>  
                        <th field="employeeName" width="110">Appraisee</th>  
                        <th field="appraiserName" width="110">Appraiser</th>  
                        <th field="status" width="100">Status</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
        
    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>