{% for cssFile in css %}
    {% if cssFile['cond'] is defined %}<!--[if {{ cssFile['cond'] }}]>
    {% endif %}
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight') }}/css/{{ cssFile['link'] }}" type="text/css" />
    {% if cssFile['cond'] is defined %}<![endif]-->
    {% endif %}
{% endfor %}

{% for jsFile in js %}
    {% if jsFile['cond'] is defined %}<!--[if {{ jsFile['cond'] }}]>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/designstarlight') }}/js/{{ jsFile['link'] }}"></script>
    {% if jsFile['cond'] is defined %}<![endif]-->
    {% endif %}
{% endfor %}
