<ul>
    {% for cMenuId, cMenu in menu %}
        <li{%if cMenuId == selected%} class="current"{% endif%}>
            <a href="{{ cMenu['link']}}" {%if cMenu['class'] is defined%} class="{{ cMenu['class'] }} {% if cMenu['childs'] is defined %}menudrop{% endif %}"{% endif %}>
                <span>{{ cMenu['title'] }}</span>
            </a>
            {% if cMenu['childs'] is defined %}
                <ul>
                    {% for childMenuId, childMenu in cMenu['childs'] %}
                        <li><a href="{{childMenu['link']}}"><span>{{ childMenu['title']}}</span></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

