<div id="userPanel" class="headercolumn">
    <a href="" class="userinfo radius2">
        <img src="{{ asset('bundles/designstarlight') }}/images/avatar.png" alt="" class="radius2" />
        <span><strong>{{ name }}</strong></span>
    </a>
    <div class="userdrop">
        <ul>
            <li><a href="{{ link['logout'] }}">Logout</a></li>
        </ul>
    </div><!--userdrop-->
</div><!--headercolumn-->

