<div style="width: 100%; margin:0 auto">
    <div style="float: left; width: 49%; ">
        {{ children['Left'].toHtml() | raw }}
    </div>

    <div style="float: left; margin-left: 2%; width: 49%">
        {{ children['Right'].toHtml() | raw }}
    </div>
</div>
