
{% block app_department_multiple_row %}
    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);
 
        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var departmentsSelected = JSON.parse('{{ departmentsSelected | raw }}');

        function updateDepartmentGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();
            var departments = businessUnitDepartments[idBusinessUnit];

            jQuery('#{{ form.departments.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.departments.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.departments.vars.id }} option').each(function(index, value) {                
                    for (id in departmentsSelected) {
                        var idDepartment = departmentsSelected[id];
                        if (jQuery(this).val() == idDepartment) {
                            jQuery(this).attr('selected', 'selected');
                        }
                    }
                });
            }
        }        
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.departments) }}

    <script type="text/javascript">
    $(document).ready(function() {
        updateDepartmentGui(true);
    });

    </script>
{% endblock %}
