
{% block app_goal_row %}
    <script type="text/javascript">
        var goalGoalAreaJson = JSON.parse('{{ goalGoalAreaJson | raw }}');
        var goalName = JSON.parse('{{ goalJson | raw }}');
        var idGoalSelected = '{{ idGoalSelected }}';

        function updateGoalGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idGoalArea = jQuery('#{{ form.idGoalArea.vars.id }} :selected').val();
            var goals = goalGoalAreaJson[idGoalArea];

            jQuery('#{{ form.idGoal.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var goalSelect = jQuery('#{{ form.idGoal.vars.id }}');
            for (id in goals) {
                var idGoal = goals[id];
                goalSelect.append('<option value='+ idGoal + '>' + goalName[idGoal] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idGoal.vars.id }}').val({{ idGoalSelected }});
            }
        }        
    </script>

    {{ form_row(form.idGoalArea) }}
    {{ form_row(form.idGoal) }}

    <script type="text/javascript">
    $(document).ready(function() {
        updateGoalGui(true);
    });

    </script>
{% endblock %}
