
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Verdana, Arial; 
}

body {
    background-color: #D2E0F2;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1086px;
}

a { color: black; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }

#topBanner {
    margin: 10px 10px 5px 10px;
    background: white;
    height: 60px;
    border: 1px solid #99BBE8;
}

#topProfile {
    position:absolute;
    top:15px;
    left: 1050px;
    font-size: 13px;
}

/************** STANDARD FORM *******************/
/************** forms.html, wizard.html *********/
.stdform p, .stdform div.par { margin: 15px 0; }
.stdform div.par { overflow: hidden; }
.stdform span.field, .stdform div.field { margin-left: 180px; display: block; position: relative; }
.stdform .formwrapper { display: block; padding-top: 5px; margin-left: 220px; line-height: 25px; }
.stdform label { float: left; width: 150px; text-align: right; padding: 0px 20px 0 0; }
.stdform label.error { float: none; color: #ff6600; font-size: 11px; display: block; text-align: left; font-weight: bold; }
.stdform label.required:after {
    content:" *";
    color:red;
    font-weight:bold; 
}   


.stdform button { border: 1px solid #333; background: #333; color: #fff; cursor: pointer; padding: 7px 10px; font-weight: bold; }
.stdform button:hover { background: #111; border: 1px solid #000; color: #fff; }
.stdform button.cancel { background: #eee; color: #666; border: 1px solid #ddd; }
.stdform button.cancel:hover { background: #ddd; border: 1px solid #ccc; }
.stdform small.desc { font-size: 11px; color: #999; font-style: italic; display: block; margin: 5px 0 0 220px; }

.stdform input { width: 350px; }
.stdform input[type=checkbox] { width: 30;}

.stdform .stdformbutton { margin-left: 180px; }

.stdform div.par { overflow: hidden; }

.stdformfilter { padding: 10px;}
.stdformfilter p, .stdform div.par { margin: 3px 0; display: inline-block; width: 48%;}
.stdformfilter div.par { overflow: hidden; }
.stdformfilter span.field, .stdform div.field { margin-left: 110px; display: block; position: relative; }
.stdformfilter .formwrapper { display: block; padding-top: 5px; margin-left: 150px; line-height: 25px; }
.stdformfilter label { float: left; width: 100px; text-align: left; padding: 0px 20px 0 0; }

/*error_div*/
.error_div{margin-left:13px; margin-top: 5px; background: url(images/box/box_error_top.png) left top no-repeat;}
.error_msg {background: url(images/box/box_error_bottom.png) left bottom no-repeat; width: 600px; clear: both;padding:5px;}
.error_msg table tr td {vertical-align:middle;padding-left:3px;color:#222222; font-size: 12px;}

/*info_div*/
.info_div{margin-left:13px; margin-top: 5px; background: url(images/box/box_info_top.png) left top no-repeat; font-size: 12px;}
.info_msg {background: url(images/box/box_info_bottom.png) left bottom no-repeat; width: 600px; clear: both;padding:5px;}
.info_msg table tr td {vertical-align:middle;padding-left:3px; color:#222222; font-size: 12px;}

/* MENU ICON */
.icon-none {
    background: none;
}
.icon-none-nowidth {
    background: none; width: 0px;
}
.icon-dashboard {
    background: url("images/house-icon.png") no-repeat scroll 0 0 transparent;
}
.icon-organization-structure {
    background: url("images/object_small.png") no-repeat scroll 0 0 transparent;
}
.icon-user {
    background: url("images/user-icon.png") no-repeat scroll 0 0 transparent;
}

.icon-performance {
    background: url("images/financial_small.png") no-repeat scroll 0 0 transparent;   
}
.icon-goal {
    background: url("images/target-icon.png") no-repeat scroll 0 0 transparent;
}
.icon-appraisal {
    background: url("images/justice-balance-icon.png") no-repeat scroll 0 0 transparent;
}
.icon-chart {
    background: url("images/chart-icon.png") no-repeat scroll 0 0 transparent;   
}

/** BUTTON **/
.button-edit {
    background: url("images/edit_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-add {
    background: url("images/add_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-delete {
    background: url("images/delete_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-cant-delete {
    background: url("images/delete_not_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}    


.button-detail {
    background: url("images/zoom_in_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-assign {
    background: url("images/redo.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}


.button-appraisee {
    background: url("images/user_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-tool {
    background: url("images/configure_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}


.button-reset-password {
    background: url("images/key_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.button-view {
    background: url("images/key_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;   
}

.button-start-objective-setting {
    background: url("images/target-icon.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;  
}

.button-complete-objective-setting {
    background: url("images/refuse.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;     
}

.button-resend-email {
    background: url("images/email_small.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    display: inline-block;        
}

.tree-title {
    width: 80%;
    white-space: wrap !important;
}

.ajax-loader {
    background: url("images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    width: 32px;
    height: 32px;
    display: inline-block;
}

/** STANDARD TABLE **/
.stdtable {
    border: 1px solid;
    border-collapse: collapse;    
    font-family: Verdana, Arial; 
    font-size: 13px;
}
.stdtable td {
    border: 1px solid;
    padding: 5px;
}
.stdtable .header {
    background-color: #E1ECFF;
}