
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="My Job Functions"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="idKra" width="150">Key Result Area</th>  
                        <th field="idJobFunctionType" width="150">Job Function Type</th>  
                        <th field="description" width="300">Description</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
