{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="JobFunctionTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="List" href="{{ listHref }}" cache="false">  
        </div>
    </div>
{% endblock %}