{% if title is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ title }}</span></h2>
</div><!--contenttitle-->
{% endif %}
<div class="stdform stdform2">
    {% for label, item in data %}
        {% if item == '##SECTION##' %}
            <br/><h2>{{ label }}</h2><br/>
            <p></p>
        {% else %}
            <p> 
                <label>{{ label }}</label>
                <span class="field">{{ item | raw }}&nbsp;</span>
            </p>
        {% endif %}
    {% endfor %}                
</div>
