{% if title is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ title }}</span></h2>
</div><!--contenttitle-->
{% endif %}

<table class="display_two_column stdform">
    {% for label, item in data %}
        {% if loop.index0 % 2 == 0 %}
            <tr>
        {% endif %}
            <td>{{ label }}</td><td>{{item | raw }}&nbsp;</td>
        {% if loop.index0 % 2 == 1 %}
            </tr>
        {% endif %}
    {% endfor %}
    
    {% if data | length % 2 == 1 %}
        <td></td><td></td></tr>
    {% endif %}
</table>
