{% block app_attachment_widget %}
    {% if form.readonly.vars.value == false %}
        {{ form_widget(form.attachment) }}
    {% endif %}
    {% if form.name.vars.value is not empty %}
        <br/>
        <a target="_blank" href="{{ filePath }}/{{ form.name.vars.value }}">Download file</a>
    {% endif %}
{% endblock %}