<html>
<head>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/general.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/default/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/icon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/style.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery.easyui.min.js') }}"></script>
   
</head>
<body style="background-color: white;">
    <script type="text/javascript">
    jQuery.fn.datebox.defaults.formatter = function(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
		if (m < 10) { m = '0' + m; }
		if (d < 10) { d = '0' + d; }
        return d+'/'+m+'/'+y;
    }
    jQuery.fn.datebox.defaults.parser = function(str){
        var t = str.split('/');
        if (typeof t[2] != 'undefined' && 
            typeof t[1] != 'undefined' && 
            typeof t[0] != 'undefined') {
            return new Date(t[2], t[1] - 1, t[0], 0, 0, 0, 0);
        }
        return new Date();
    }
    </script>

    {% block content %}
    <div style="width: 100%; height: 100%; padding-left: 15px; padding-top: 10px">
        <div id="p" class="easyui-panel" title="Form" style="width:750px;height:470px">
            {% include 'AppraisalAdminBundle:Form:Basic.html.twig' with {'form': form} %}
        </div>
    </div>
    {% endblock %}
</body>
</html>

