{% form_theme form['view'] 'AppraisalAdminBundle:Form:FormThemes.html.twig' %}

{% if form['messages'] is not empty %}
<div class="info_div">  
    <div class="info_msg" id="info_msg">
        <table>
            {% for message in form['messages'] %}
                <tr>
                    <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                    <td>{{ message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if form['errors'] is not empty %}
<div class="error_div">  
    <div class="error_msg" id="error_msg">
        <table>
            {% for error in form['errors'] %}
                <tr>
                    <td><img src="{{ asset("bundles/designjeasyui/images/error_icon.png") }}" class="small" /></td>
                    <td>{{ error }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<form id="{{ form['id'] }}" class="stdformfilter" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
    {% for element in form['view'] %}
        {% if 'hidden' not in element.vars.block_prefixes %}
            {{ form_row(element) }}
        {% endif %}
    {% endfor %}
    
    {% for element in form['view'] %}
        {% if 'hidden' in element.vars.block_prefixes %}
            {{ form_widget(element) }}
        {% endif %}
    {% endfor %}
                        
    <p class="stdformbutton">
        <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitForm('{{ form['id'] }}')">
            <span>{{ submitLabel | default('Filter') }}</span>
        </a>
    </p>
</form>
              