<div style="padding-left: 15px; padding-top: 10px">
    <div id="p" class="easyui-panel" title="My profile" style="width:730px;height:440px">  
        <div class="stdform">
            <p>
                <label>Fullname</label>
                {{ fullname }}&nbsp;
            </p>
            <p>
                <label>Email</label>
                {{ email }}&nbsp;
            </p>
            <p>
                <label>Business Unit</label>
                {{ businessUnit }}&nbsp;
            </p>
            <p>
                <label>Department</label>
                {{ department }}&nbsp;
            </p>
            <p>
                <label>Current Job</label>
                {{ job }}&nbsp;
            </p>
            <p>
                <label>Location</label>
                {{ location }}&nbsp;
            </p>
            <p>
                <label>Groups</label>
                {{ groups }}&nbsp;
            </p>
            {% if myAppraiser is defined %}
                <p>
                    <label>My Appraiser</label>
                    {{ myAppraiser }}&nbsp;
                </p>
            {% endif %}
        </div>
    </div>
</div>