{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="ProfileTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="View" href="{{ listHref }}" cache="false">  
        </div>

        <div title="Edit information" href="{{ formEditHref }}" cache="false">
        </div>

        <div title="Edit password" href="{{ formEditPasswordHref }}" cache="false">
        </div>
    </div>
{% endblock %}
