{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="AppraisalObjectiveSettingFormTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="Summary" href="{{ summaryHref }}" cache="false">  
        </div>
        <div title="Competencies" href="{{ competenciesHref }}" cache="false">  
        </div>
        <div title="Operational Objectives" href="{{ operationalObjectiveHref }}" cache="false">  
        </div>        
    </div>
{% endblock %}