{% extends 'AppraisalAdminBundle:Form:common_form_content.html.twig' %}

{% block content %}
    <div style="width: 100%; height: 100%; padding-left: 15px; padding-top: 10px">
        {% if form['messages'] is not empty %}
        <div class="info_div">  
            <div class="info_msg" id="info_msg">
                <table>
                    {% for message in form['messages'] %}
                        <tr>
                            <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                            <td>{{ message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br/>
        {% endif %}


        <form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
            {% for element in form['view'] %}
                {% if 'hidden' in element.vars.block_prefixes %}
                    {{ form_widget(element) }}
                {% endif %}
            {% endfor %}
            
            <table id="CompetenciesForm" class="easyui-datagrid" 
                style="width:{{ width | default('1030px') }};height:350px"  
                pagination="false"
                title="Competencies Form"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="idCompetencySubArea" width="120">Competency Sub Area</th>  
                        <th field="competency" width="150">Competencies</th>  
                        <th field="objective" width="150">Objective (Action)</th>  
                        <th field="kpi" width="250">KPI (Measure)</th>  
                        <th field="appraiserAgreement" width="120">Appraiser Agreement</th>
                        <th field="appraiseeAgreement" width="120">Appraisee Acceptance</th>
                    </tr>  
                </thead>  
                <tbody>
                    {% for competency in competencies %}
                        <tr>
                            <td>{{ competency.competencySubArea }}</td>
                            <td>{{ competency.competency }}</td>
                            <td>{{ competency.objective }}</td>
                            <td>
                                {% set ctrlId = 'kpi_' ~ competency.id %}
                                </br>
                                <div style="margin-top: -19px">
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                                </div>
                            </td>

                            <td>
                                {% set ctrlId = 'appraiser_agreement_' ~ competency.id %}
                                <div style="margin-top: 5px">
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                                </div>
                            </td>
                            <td>
                                {% set ctrlId = 'appraisee_agreement_' ~ competency.id %}
                                <div style="margin-top: 5px">
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <br/>            
            {% if isDisplaySubmit %}
                <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
                    <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitFormCompetencies('{{ form['id'] }}')">
                        <span>Save</span>
                    </a>
                </p>

                <p class="stdformbutton" style="display: none" id="{{ form['id'] }}_submit_ajax_loader">
                    <a class="ajax-loader"></a>
                </p>
            {% endif %}
        </form>

        <script type="text/javascript">
            function submitFormCompetencies(formId) {
                jQuery('#CompetenciesForm select').each(function(index, value) {
                    jQuery(this).attr('name', 'a');
                });
                jQuery('#CompetenciesForm textarea').each(function(index, value) {
                    jQuery(this).attr('name', 'a');
                });

                submitForm(formId);
            }
        </script>
                                                
    </div>
{% endblock %}