{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="margin: 10px auto 10px 15px">
        <table class="stdtable" style="width: {{ width | default('1030px') }}">
            <tr>
                <td class="header">Employee</td>
                <td class="header">Business Unit</td>
                <td class="header">Department</td>
                <td class="header">Job Position</td>
                <td class="header">Current Job (Role)</td>
            </tr>
            <tr>
                <td>{{ employeeName }}</td>
                <td>{{ businessUnit }}</td>
                <td>{{ department }}</td>
                <td>{{ jobPosition }}</td>
                <td>{{ job }}</td>
            </tr>
            <tr>
                <td class="header">Appraiser</td>
                <td class="header">Appraisal Year</td>
                <td class="header">Status</td>
                <td class="header"></td>
                <td class="header"></td>
            </tr>
            <tr>
                <td>{{ appraiser }}</td>
                <td>{{ appraisalYear }}</td>
                <td>{{ status }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <br/>

        <b style="font-size: 13px">General Overview</b>
        <br/><br/>
            {% if form['messages'] is not empty %}
            <div class="info_div">  
                <div class="info_msg" id="info_msg">
                    <table>
                        {% for message in form['messages'] %}
                            <tr>
                                <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                                <td>{{ message }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            
            <form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
                {% for element in form['view'] %}
                    {% if 'hidden' in element.vars.block_prefixes %}
                        {{ form_widget(element) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form['view'].message) }}
                {% if showEditMessage is defined %}
                    <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
                        <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitForm('{{ form['id'] }}')">
                            <span>Save</span>
                        </a>
                    </p>

                    <p class="stdformbutton" style="display: none" id="{{ form['id'] }}_submit_ajax_loader">
                        <a class="ajax-loader"></a>
                    </p>
                {% endif %}
            </form>            
        <br/>

        <b style="font-size: 13px">Progress</b>
        <br/><br/>

        <table class="stdtable" style="width: 500px">
            <tr>
                <td class="header">Form</td>
                <td class="header">Appraiser setting</td>
                <td class="header">Appraisee acceptance</td>
            </tr>
            <tr>
                <td>Competencies</td>
                <td>{% if formStatus['appraiser_competencies'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td>
                <td>{% if formStatus['appraisee_competencies'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td                
            </tr>
            <tr>
                <td>Operational Objective</td>
                <td>{% if formStatus['appraiser_operational_objective'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td>
                <td>{% if formStatus['appraisee_operational_objective'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td                
            </tr>
        </table>
        <br/>
        
        {% if showRequestFillAppraiser is defined %}
            <b style="font-size: 13px">Please fill out the appraisal form, then you can submit to your appraisee</b>
        {% endif %}
        {% if showRequestFillAppraisee is defined %}
            <b style="font-size: 13px">Please fill out the appraisal form, then you can submit to your admin</b>
        {% endif %}
        
        {% if showSubmitToAdmin is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=submitToAdmin">
                <span>Submit to admin</span>
            </a>
        {% endif %}

        {% if showSubmitToAppraisee is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=submitToAppraisee">
                <span>Submit to appraisee</span>
            </a>
        {% endif %}

        {% if showBackToAppraiserSetting is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=backToAppraiser">
                <span>Send back to appraiser</span>
            </a>
        {% endif %}

        {% if showWithDraw is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=withdraw">
                <span>Withdraw</span>
            </a>
        {% endif %}
    </div>   
{% endblock %}