{% if title is defined %}
    <div class="contenttitle radiusbottom0">
        <h2 class="table"><span>{{ title }}&nbsp;</span></h2>
    </div><!--contenttitle-->	
{% endif %}

{% if (children['LeftButtons'].isHaveChilds()) or (children['RightButtons'].isHaveChilds()) %}
<div class="tableoptions">
    <div class="leftBox">
        {{ children['LeftButtons'].toHtml() | raw }}
    </div>
    <div class="rightBox">
        {{ children['RightButtons'].toHtml() | raw}}
    </div>
</div>
{% endif %}

{% if children['FilterForm'] is defined %}
<div id="{{ id }}_FilterForm" {% if isHideFilterForm %}style="display: none"{% endif %}>
    {{ children['FilterForm'].toHtml() | raw}}
</div>
{% endif %}

<table id="{{ id }}" cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <colgroup>
        <col class="con0" width="5%" />
        {% for item in header %}
            <col class="{{ cycle(['con1', 'con0'], loop.index0) }}" {% if item['width'] is defined %}width="{{ item['width'] }}"{% endif %}/>
        {% endfor %}
    </colgroup>
    
    <thead>
        <tr>
            <th class="head1">
                <span class="checkbox">
                    <input type="checkbox" id="{{ id }}_TopCheckBox" style="width: 100%"/>
                </span>
            </th>
            {% for item in header %}
                <th class="{{ cycle(['head1', 'head1'], loop.index0) }}">
                    {% if item['block'] is defined %}
                        {{ _context[item['block']].render() | raw }}
                    {% else %}
                        {{ item['title'] }}
                    {% endif %}
                </th>                
            {% endfor %}                
        </tr>
    </thead>    
</table>

<script type="text/javascript">
    var dynamicTables_{{ id }};
    
    function funcDynamicTableReload_{{ id }}() {
    	dynamicTables_{{ id }}.fnDraw(false);
    }
    
    jQuery('#{{ id }}_TopCheckBox').click(function(){        
        var checkboxes = jQuery('#{{ id }} .stdtableCheckBox');
        if (jQuery(this).is(':checked')) {
            jQuery(this).parents('span').addClass('checked');
            
            checkboxes.each(function(i, v) {
                jQuery(this).attr('checked', true);
                jQuery(this).parents('span').addClass('checked');
                jQuery(this).parents('tr').addClass('selected');
            });
        }
        else {
            jQuery(this).parents('span').removeClass('checked');
            
            checkboxes.each(function(i, v) {
                jQuery(this).attr('checked', false);
                jQuery(this).parents('span').removeClass('checked');
		        jQuery(this).parents('tr').removeClass('selected');
            });
        }
    });
			    
	//show/hide widget content when widget title is clicked
	function funcShowFilterForm_{{ id }}() {
	    var filterForm = jQuery("#{{ id }}_FilterForm");
		if(filterForm.is(':visible')) {
			filterForm.slideUp('fast');
		} else {
			filterForm.slideDown('fast');
		}
	};		    
			    
    jQuery(document).ready(function() {
        dynamicTables_{{ id }} = jQuery('#{{ id }}').dataTable({
            "sPaginationType": "full_numbers",
			"sDom": 'rtip',
			"aoColumns": [
				{ "sWidth": "5%", "bSortable": false}
				{% for item in header %}
					,{"sWidth": "{{ item['width'] }}", "bSortable": {{ item['sortable'] }}}
				{% endfor %}
			],
			"bAutoWidth": false,
			"bProcessing": true,
			"bServerSide": true,
            "iDisplayLength": {{ displayLength }},
			"sAjaxSource": "{{ ajaxSourceHref }}",
			"fnDrawCallback": function( oSettings ) {
			    jQuery('#{{ id }} .stdtableCheckBox').each(function(i, v){
			        jQuery(this).parents('td').addClass('center');
			    });
			    
			    jQuery('#{{ id }} .stdtableCheckBox').click(function(){
					if(jQuery(this).is(':checked')) {
					    jQuery(this).parents('span').addClass('checked');
						jQuery(this).parents('tr').addClass('selected');
					} else {
					    jQuery(this).parents('span').removeClass('checked');
						jQuery(this).parents('tr').removeClass('selected');	
					}
				});
				
				var topCheckBox = jQuery('#{{ id }}_TopCheckBox');
				topCheckBox.parents('span').removeClass('checked');
				topCheckBox.attr('checked', false);
				
				
				jQuery('.dataTablePopupButton').colorbox({
                    iframe: true,
                    width:  "75%",
                    height: "75%",
                    onClosed:function(){ 
                        funcDynamicTableReload_{{ id }}();
                    }
                });
			},
			"fnServerParams" : function ( aoData ) {
				
			},
			"oLanguage": {
			    "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
			    "sInfoFiltered": ""
			}
		});
	});
</script>