<a class="btn radius50 {{ class | default('') }}" href="javascript:dataTableActionWithSelected('{{ tableId }}', '{{ href }}')" {% if target != ''%} target="{{ target }}" {%endif%} onClick="return confirm('{{ message }}')")>
    <span>{{ title }}</span>
</a>

