<a id="{{ id }}" class="btn radius50 {{ class | default('') }}" href="{{ href }}">
    <span>{{ title }}</span>
</a>
<script type="text/javascript">
    jQuery("#{{ id }}").colorbox({
        iframe: true,
        width:  "75%",
        height: "75%",
        onClosed:function(){ 
            {{ children['OnClosedJs'].toHtml() | raw }}
        }
    });
</script>

