
{% block app_appraisal_form_filter_row %}
    <script type="text/javascript">
        var businessUnitDepartmentsJson = '{{ businessUnitDepartmentsJson | raw }}';
        var businessUnitDepartments = JSON.parse(businessUnitDepartmentsJson);

        var departmentName = JSON.parse('{{ departmentsJson | raw }}');
        var idDepartmentSelected = '{{ idDepartmentSelected }}';

        var jobsName = JSON.parse('{{ jobsJson | raw }}');
        var departmentJobs = JSON.parse('{{ departmentJobJson | raw }}');
        var idJobSelected = '{{ idJobSelected }}';

        function clearJobSelect() {
            // Clear jobs
            jQuery('#{{ form.idJob.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });
        }

        function onChangeBusinessUnit(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idBusinessUnit = jQuery('#{{ form.idBusinessUnit.vars.id }} :selected').val();

            // Filter departments
            var departments = businessUnitDepartments[idBusinessUnit];
            jQuery('#{{ form.idDepartment.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var departmentSelect = jQuery('#{{ form.idDepartment.vars.id }}');
            for (id in departments) {
                var idDepartment = departments[id];
                departmentSelect.append('<option value='+ idDepartment + '>' + departmentName[idDepartment] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idDepartment.vars.id }}').val({{ idDepartmentSelected }});
            }

            clearJobSelect();
        }        

        function onChangeDepartment(loadPage) {
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idDepartment = jQuery('#{{ form.idDepartment.vars.id }} :selected').val();

            clearJobSelect();
            
            // Filter job 
            var jobs = departmentJobs[idDepartment];
            var jobSelect = jQuery('#{{ form.idJob.vars.id }}');
            for (id in jobs) {
                var idJob = jobs[id];
                jobSelect.append('<option value='+ idJob + '>' + jobsName[idJob] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idJob.vars.id }}').val({{ idJobSelected }});
            }            
        }
    </script>

    {{ form_row(form.idBusinessUnit) }}
    {{ form_row(form.idDepartment) }}
    {{ form_row(form.idJob) }}

    <script type="text/javascript">
    $(document).ready(function() {
        onChangeBusinessUnit(true);
        onChangeDepartment(true);
    });
    </script>
{% endblock %}
