{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="AppraisalFormTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="Introspection" href="{{ introspectionHref }}" cache="false">  
        </div>

        <div title="Competencies" href="{{ competenciesHref }}" cache="false">
        </div>

        <div title="Operational Objective" href="{{ operationalObjectiveHref }}" cache="false">
        </div>
    </div>
{% endblock %}
