{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Operational Objective"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idKra" width="150">Key Result Area</th>  
                        <th field="idJobFunction" width="300">Job Function</th>  
                        <th field="kpi" width="200">KPI (Measure)</th>  
                    </tr>  
                </thead>  
            </table>
    </div> <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm, 'submitLabel': 'View'} %}
    </div>
{% endblock %}