<div style="float:left; width: 46%;padding: 10px">    
    <table id="ObjectiveSetting" class="easyui-datagrid" 
            style="width:370px;height:170px"  
            pagination="false"
            title="Object Setting"
            singleSelect="true">
            <thead>  
                <tr>  
                    <th field="year" width="100">Year</th>  
                    <th field="numberSentOut" width="130">Number sent out</th>
                    <th field="numberAgreed" width="130">Number agreed</th>  
                </tr>  
            </thead>  
            <tbody>
                {% for stat in appraisalYearStats %}
                    <tr>
                        <td>{{ stat.year }}</td>
                        <td>{{ stat.numberSentOut }}</td>
                        <td>{{ stat.numberAgreed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

    <br/>

    <table id="TotalNumberStatistic" class="easyui-datagrid" 
            style="width:370px;height:250px"  
            pagination="false"
            title="Total Number Statistic"
            singleSelect="true">
            <thead>  
                <tr>  
                    <th field="number" width="200">Number of</th>  
                    <th field="total" width="130">Total</th>
                </tr>  
            </thead>  
            <tbody>
                {% for stat in statistics %}
                    <tr>
                        <td>{{ stat.numberOf }}</td>
                        <td>{{ stat.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
<div style="float:left; width: 46%;padding: 10px">
    <table id="ReviewPeriod" class="easyui-datagrid" 
            style="width:370px;height:170px"  
            pagination="false"
            title="Review period"
            singleSelect="true">
            <thead>  
                <tr>  
                    <th field="reviewName" width="100">Review Name</th>  
                    <th field="numberSentOut" width="130">Number sent out</th>
                    <th field="numberAgreed" width="130">Number completed</th>  
                </tr>  
            </thead>  
            <tbody>
                {% for stat in appraisalReviewPeriodStats %}
                    <tr>
                        <td>{{ stat.reviewName }}</td>
                        <td>{{ stat.numberSentOut }}</td>
                        <td>{{ stat.numberAgreed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

</div>
