
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="My Skills"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="name" width="400">Name</th>  
                    </tr>  
                </thead>  
            </table>
        </div>

    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>