
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Rating"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="description" width="250">Rating</th>  
                        <th field="weight" width="200">Weight</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>