<html>
<head>
    <title>{{ title | default('Appraisal System')}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block header %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/default/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/jquery-easyui/themes/icon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/designjeasyui/style.css') }}">
    
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/jquery-easyui/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designjeasyui/general.js') }}"></script>
    <script type="text/javascript">
        function switchPage(pageTitle, pageHref) {
            var centerPanel = jQuery('#main').layout('panel', 'center');
            centerPanel.panel('setTitle', pageTitle);
            centerPanel.panel('refresh', pageHref);
        }
    </script>

    {% endblock %}
</head>
<body>
    <div id="topBanner">
        {% block topBanner %}
            <img src="{{ asset('bundles/designjeasyui/images/company-logo.jpg')}}" height="58px" />
        {% endblock %}        
    </div>
    <div class="easyui-layout" id="main" style="height:550px;margin-left: 10px; margin-right: 10px;">  
        <div id="content" region="center">
            <div id="LoginDialog" class="easyui-dialog" title="Login" style="width:500px;height:200px"
                closable="false">  
                <form id="LoginForm" class="stdform" method="post" action="{{ form_url }}">
                    <p>
                        <label>Email</label>
                        <span class="field">
                            <input type="textbox" name="username" style="width: 180px"/>
                        </span>
                    </p>
                    <p>
                        <label>Password</label>
                        <span class="field">
                            <input type="password" name="password" style="width: 180px"/>
                        </span>
                    </p>
                    <p>
                        <label></label>
                        <span class="field">
                            <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                                {% if form_error is not empty %}Login failed{% endif %}

                            </label>
                        </span>
                    </p>
                
                    <p class="stdformbutton" id="LoginForm_submit_button_p">
                        <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitForm('LoginForm')">
                            <span>Login</span>
                        </a>
                    </p>

                    <p class="stdformbutton" style="display: none" id="LoginForm_submit_ajax_loader">
                        <a class="ajax-loader"></a>
                    </p>
                </form>                                            
            </div> 
        </div>
    </div>
    <div style="margin-left: 10px; margin-right: 10px;">
        <div style="margin-left: auto; margin-right: auto; width: 300px; margin-top: 10px">
            <b style="font-size: 11px">Powered by </b> <img src="{{ asset('bundles/designjeasyui/images/footer-logo.jpg')}}" height="20px" />    
        </div>
    </div>  
</body>
</html>