{% form_theme form 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}

{{ children['MessagesBox'].toHtml() | raw }} 

{% if title is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ title }}</span></h2>
</div><!--contenttitle-->
{% endif %}              

<form id="{{ id }}" class="stdform stdform2" method="post" action="{{ url }}" novalidate {{ form_enctype(form) }} style="margin-top: -1px">
    {% for element in form %}
        {% if 'hidden' not in element.vars.block_prefixes %}
            {{ form_row(element) }}
        {% endif %}
    {% endfor %}
    
    {% for element in form %}
        {% if 'hidden' in element.vars.block_prefixes %}
            {{ form_widget(element) }}
        {% endif %}
    {% endfor %}
                        
    <p class="stdformbutton">
        <button class="submit radius2">&nbsp;&nbsp;{{ submitLabel }}&nbsp;&nbsp;</button>
    </p>
</form>
                                                