{% block field_row %}
    <p id="field_row_{{ form.vars.id}}">
        {{ form_label(form) }}
        <span class="field">
            {{ form_widget(form) }}
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                {{ form_errors(form) }}
            </label>
            </span>
        </span>
    </p>
{% endblock field_row %}

{% block field_errors %}
    {% if errors is defined %}
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block section_row %}    
    <br/><h2>{{ label }}</h2><br/>
    <p></p>
{% endblock %}

{% block label_widget %}
    {{ value | raw }}&nbsp;
{% endblock %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div>
            <div style="display: inline-block; height: 20px">{{ form_widget(child) }}</div>
            <div style="display: inline-block; height: 20px; margin-left: 5px">{{ form_label(child) }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block datepicker_widget %}
    {% spaceless %}
        {{ block('date_widget') }} 
        
        <script>
            jQuery("#{{ form.vars.id }}").datepicker({
                showOn: "both",
                buttonImage: "{{ asset('bundles/designstarlight/images/calendar_small.png') }}",
                buttonImageOnly: true,
                dateFormat: "{{ pattern }}"
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block time_period_widget %}
    From&nbsp;{{ form_widget(form.startHour) }}:{{ form_widget(form.startMinute )}}&nbsp;
    to&nbsp;{{ form_widget(form.endHour) }}:{{ form_widget(form.endMinute )}}&nbsp;
{% endblock %}
