{% form_theme form 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}

{% if title is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ title }}</span></h2>
</div><!--contenttitle-->
{% endif %}

<form id="{{ id }}" method="post" action="{{ url }}" novalidate {{ form_enctype(form) }} style="margin-top: -1px">
    {% for element in form %}
        {% if 'hidden' in element.vars.block_prefixes %}
            {{ form_widget(element) }}
        {% endif %}
    {% endfor %}

    <table class="display_two_column stdform stdformfilter">
        {% set count = 0 %}
        {% for element in form %}
            {% if 'hidden' not in element.vars.block_prefixes %}
                {% if count % 2 == 0 %}
                    <tr>
                {% endif %}
                    
                <td>{{ form_label(element) }}</td>
                <td>
                    {{ form_widget(element) }}
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(element) }}
                    </label>
                </td>
                
                {% if count % 2 == 1 %}
                    </tr>
                {% endif %}

                {% set count = count +1 %}
            {% endif %}
        {% endfor %}   

        {% if count % 2 == 1 %}
            <td></td><td></td></tr>
        {% endif %}
        <tr>
            <td colspan="4">
                <button class="submit radius2">&nbsp;&nbsp;{{ submitLabel }}&nbsp;&nbsp;</button>            
            </td>
        </tr>
    </table>
</form>