{% extends 'AppraisalAdminBundle:Form:common_form_content.html.twig' %}

{% block content %}
    <div style="width: 100%; height: 100%; padding-left: 15px; padding-top: 10px">
        {% if form['messages'] is not empty %}
        <div class="info_div">  
            <div class="info_msg" id="info_msg">
                <table>
                    {% for message in form['messages'] %}
                        <tr>
                            <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                            <td>{{ message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}


        <form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
             {% for element in form['view'] %}
                {% if 'hidden' in element.vars.block_prefixes %}
                    {{ form_widget(element) }}
                {% endif %}
            {% endfor %}
            
            <table style="width: {{ width | default('1030px') }};font-size: 13px">
                {% for element in form['view'] %}
                    {% if 'hidden' not in element.vars.block_prefixes %}
                        <tr>
                            <td>{{ form_label(element) }}</td>                    
                        </tr>
                        <tr>
                            <td>{{ form_widget(element) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <br/>            
            {% if isShowSubmitBtn is defined %}
                <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
                    <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitForm('{{ form['id'] }}')">
                        <span>Save</span>
                    </a>
                </p>

                <p class="stdformbutton" style="display: none" id="{{ form['id'] }}_submit_ajax_loader">
                    <a class="ajax-loader"></a>
                </p>
            {% endif %}
        </form>
                                                
    </div>
{% endblock %}