
    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:1030px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="My Appraisal"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="reviewName" width="160">Reviews</th>  
                        <th field="dateFrom" width="110">Date From</th>  
                        <th field="dateTo" width="110">Date To</th>  
                        <th field="idAppraisalType" width="100">Appraisal Type</th>  
                        <th field="status" width="100">Status</th>  
                        <th field="action" width="150">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>
