{% extends 'AppraisalAdminBundle:Form:common_form_content.html.twig' %}

{% block content %}
    <div style="width: 100%; height: 100%; padding-left: 15px; padding-top: 10px">
        {% if form['messages'] is not empty %}
        <div class="info_div">  
            <div class="info_msg" id="info_msg">
                <table>
                    {% for message in form['messages'] %}
                        <tr>
                            <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                            <td>{{ message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br/>
        {% endif %}


        <form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
            {% for element in form['view'] %}
                {% if 'hidden' in element.vars.block_prefixes %}
                    {{ form_widget(element) }}
                {% endif %}
            {% endfor %}
            
            <table id="OperationalObjectivesForm" class="easyui-datagrid" 
                style="width:{{ width | default('1030px') }};height:350px"  
                pagination="false"
                title="Operational Objectives Form"
                singleSelect="true">
                <thead>  
                    <tr>  
                        <th field="idKra" width="150">Key Result Area</th>  
                        <th field="idJobFunction" width="200">Job Function</th>  
                        <th field="kpi" width="150">KPI (Measure)</th>  
                        <th field="rating" width="120">Appraisee Rating</th>
                        <th field="employeeComment" width="300">Appraisee comment and justification</th>
                        <th field="attachment" width="300">Appraisee attachment</th>
                        {% if showAppraiserFields is defined %}
                            <th field="appraiserRating" width="120">Appraiser Rating</th>
                            <th field="appraiserComment" width="300">Appraiser comment and justification</th>
                        {% endif %}
                    </tr>  
                </thead>  
                <tbody>
                    {% for obj in operationalObjectives %}
                        <tr>
                            <td>{{ obj.kra }}</td>
                            <td>{{ obj.jobFunction }}</td>
                            <td>{{ obj.kpi | nl2br }}</td>

                            <td>
                                {% set ctrlId = 'operational_objective_' ~ obj.id %}
                                <div style="margin-top: 5px">
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                                </div>
                            </td>
                            <td>
                                {% set ctrlId = 'employee_comment_' ~ obj.id %}
                                </br>
                                <div style="margin-top: -19px">
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                                </div>
                            </td>
                            <td>
                                {% set ctrlId = 'attachment_' ~ obj.id %}
                                {{ form_widget(form['view'].getChild(ctrlId)) }}
                            </td>
                            {% if showAppraiserFields is defined %}
                                <td>
                                    {% set ctrlId = 'appraiser_operational_objective_' ~ obj.id %}
                                    <div style="margin-top: 5px">
                                    {{ form_widget(form['view'].getChild(ctrlId)) }}
                                    </div>
                                </td>
                                <td>
                                    {% set ctrlId = 'appraiser_comment_' ~ obj.id %}
                                    </br>
                                    <div style="margin-top: -19px">
                                    {{ form_widget(form['view'].getChild(ctrlId)) }}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <br/>            
            {% if isShowSubmitBtn is defined %}
                <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
                    <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitFormOperationalObjectives('{{ form['id'] }}')">
                        <span>Save</span>
                    </a>
                </p>

                <p class="stdformbutton" style="display: none" id="{{ form['id'] }}_submit_ajax_loader">
                    <a class="ajax-loader"></a>
                </p>
            {% endif %}
        </form>

        <script type="text/javascript">
            function submitFormOperationalObjectives(formId) {
                jQuery('#OperationalObjectivesForm select').each(function(index, value) {
                    jQuery(this).attr('name', 'a');
                });
                jQuery('#OperationalObjectivesForm textarea').each(function(index, value) {
                    jQuery(this).attr('name', 'a');
                });
                jQuery('#OperationalObjectivesForm input').each(function(index, value) {
                    jQuery(this).attr('name', 'a');
                });

                submitForm(formId);
            }
        </script>
                                                
    </div>
{% endblock %}