{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div style="margin: 10px auto 10px 15px">
        <table class="stdtable" style="width: {{ width | default('1030px') }}">
            <tr>
                <td class="header">Employee </td>
                <td class="header">Business Unit</td>
                <td class="header">Department</td>
                <td class="header">Job Position</td>
                <td class="header">Current Job (Role)</td>
            </tr>
            <tr>
                <td>{{ employeeName }}</td>
                <td>{{ businessUnit }}</td>
                <td>{{ department }}</td>
                <td>{{ jobPosition }}</td>
                <td>{{ job }}</td>
            </tr>
            <tr>
                <td class="header">Appraiser</td>
                <td class="header">Appraisal Year</td>
                <td class="header">Review Period</td>
                <td class="header">Time Period</td>
                <td class="header">Status</td>
            </tr>
            <tr>
                <td>{{ appraiser }}</td>
                <td>{{ appraisalYear }}</td>
                <td>{{ review }}</td>
                <td>{{ timePeriod }}</td>
                <td>{{ status }}</td>
            </tr>
        </table>

        <br/>
            {% if form['messages'] is not empty %}
            <div class="info_div">  
                <div class="info_msg" id="info_msg">
                    <table>
                        {% for message in form['messages'] %}
                            <tr>
                                <td><img src="{{ asset("bundles/designjeasyui/images/info2_small.png") }}" class="small" /></td>
                                <td>{{ message }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            
            <form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }}>
                {% for element in form['view'] %}
                    {% if 'hidden' in element.vars.block_prefixes %}
                        {{ form_widget(element) }}
                    {% endif %}
                {% endfor %}
                <div style="width: 380px; float:left">
                    <b style="font-size: 13px">General Overview</b>
                    <br/><br/>
                    {{ form_widget(form['view'].message) }}
                </div>

                <div style="width: 350px; display: inline-block">
                    <b style="font-size: 13px">Developmental Needs Noted</b>
                    <br/><br/>
                    {{ form_widget(form['view'].developmentalNeeds) }}
                </div>

                {% if showEditMessage is defined %}
                    <p class="stdformbutton" id="{{ form['id'] }}_submit_button_p">
                        <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:submitForm('{{ form['id'] }}')">
                            <span>Save</span>
                        </a>
                    </p>

                    <p class="stdformbutton" style="display: none" id="{{ form['id'] }}_submit_ajax_loader">
                        <a class="ajax-loader"></a>
                    </p>
                {% endif %}
            </form>            
        <br/>

        <div style="width: 380px; float:left">
            <b style="font-size: 13px">Progress</b>
            <br/><br/>

            <table class="stdtable" style="width: 350px">
                <tr>
                    <td class="header">Form</td>
                    <td class="header">Appraisee self evaluation</td>
                    <td class="header">Appraiser assessment</td>
                </tr>
                <tr>
                    <td>Introspection</td>
                    <td>{% if formStatus['appraisee_introspection'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td>
                    <td></td                
                </tr>
                <tr>
                    <td>Competencies</td>
                    <td>{% if formStatus['appraisee_competencies'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td>
                    <td>{% if formStatus['appraiser_competencies'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td                
                </tr>
                <tr>
                    <td>Operational Objective</td>
                    <td>{% if formStatus['appraisee_operational_objective'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td>
                    <td>{% if formStatus['appraiser_operational_objective'] %}<b style="color: green">Done</b>{% else %}<b style="color: red">Unfinished</b>{% endif %}</td                
                </tr>
            </table>
        </div>

        <div style="width: 350px; display: inline-block">
            <b style="font-size: 13px">Score</b>
            <br/><br/>

            <table class="stdtable" style="width: 350px">
                <tr>
                    <td class="header">Category</td>
                    <td class="header">Maximum Score</td>
                    <td class="header">My Self Rating</td>
                    <td class="header">My Appraiser Rating</td>
                </tr>
                <tr>
                    <td>Competencies</td>
                    <td>{{ formWeight.competenciesWeight }}</td>
                    <td>{{ appraisalForm.competencyAppraiseeScore | number_format(2) }}</td>
                    <td>{{ appraisalForm.competencyAppraiserScore | number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Operational Objectives</td>
                    <td>{{ formWeight.objectiveWeight }}</td>
                    <td>{{ appraisalForm.objectiveAppraiseeScore | number_format(2) }}</td>
                    <td>{{ appraisalForm.objectiveAppraiserScore | number_format(2) }}</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td>100</td>
                    <td>{{ (appraisalForm.competencyAppraiseeScore + appraisalForm.objectiveAppraiseeScore) | number_format(2) }}</td>
                    <td>{{ (appraisalForm.competencyAppraiserScore + appraisalForm.objectiveAppraiserScore) | number_format(2) }}</td>
                </tr>
            </table>
        </div>
        <br/><br/>

        {% if showRequestFill is defined %}
            <b style="font-size: 13px">Please fill out the appraisal form, then you can submit to your appraiser</b>
        {% endif %}
        {% if showPendingForAppraiser is defined %}
            <b style="font-size: 13px">Please wait for your appraiser assessment</b>
        {% endif %}
        {% if showRequestAppraiserFill is defined %}
            <b style="font-size: 13px">Please fill out your appraisal for this appraisee, then you can submit to admin</b>
        {% endif %}

        {% if showSubmitToAdmin is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=submitToAdmin">
                <span>Submit to admin</span>
            </a>
        {% endif %}

        {% if showSubmitToAppraiser is defined %}
            <a class="easyui-linkbutton" iconCls="icon-ok" href="{{ summaryHref }}&action=submitToAppraiser">
                <span>Submit to appraiser</span>
            </a>
        {% endif %}

        {% if showWithDraw is defined %}
        
        {% endif %}
    </div>   
{% endblock %}