
{% block app_competency_filter_row %}
    <script type="text/javascript">
        var competencyAreas = JSON.parse('{{ competencyAreaJson | raw }}');
        var subAreaName = JSON.parse('{{ subAreaJson | raw }}');

        function updateCompetencyGui(loadPage) {        
            loadPage = loadPage == 'undefined' ? false : loadPage;
            var idCompetencyArea = jQuery('#{{ form.idCompetencyArea.vars.id }} :selected').val();
            var subAreas = competencyAreas[idCompetencyArea];

            jQuery('#{{ form.idCompetencySubArea.vars.id }} option').each(function(index, value) { 
                if (jQuery(this).val() != 0) {
                    jQuery(this).remove();
                }
            });

            var subAreaSelect = jQuery('#{{ form.idCompetencySubArea.vars.id }}');
            for (id in subAreas) {
                var idSubArea = subAreas[id];

                subAreaSelect.append('<option value=' + idSubArea + '>' + subAreaName[idSubArea] + '</option>');
            }

            if (loadPage) {
                jQuery('#{{ form.idCompetencySubArea.vars.id }}').val({{ idSubAreaSelected }});
            }
        }        
    </script>

    {{ form_row(form.idCompetencyArea) }}
    {{ form_row(form.idCompetencySubArea) }}

    <script type="text/javascript">
    updateCompetencyGui(true);
    </script>
{% endblock %}
