
    <script type="text/javascript">

        var currentIdCompetencyArea = 0;
        var currentIdCompetencySubArea = 0;
        var currentIdCompetency = 0;

        // SHOW EDIT MENU
        function showEditMenu(idElement, idCompetencyArea, idCompetencySubArea, idCompetency) {
            currentIdCompetencyArea = idCompetencyArea;
            currentIdCompetencySubArea = idCompetencySubArea;
            currentIdCompetency = idCompetency;

            var elementPosition = jQuery('#' + idElement).offset();            
            var editMenu = jQuery('#{{ tableId }}_EditMenu');

            if (idCompetencyArea != 0) {
                editMenu.menu('appendItem', {
                    id: '{{ tableId}}_EditMenu_CompetencyArea',
                    text: 'Edit Competency Area',
                    name: 'EditCompetencyArea'
                });
            }
            if (idCompetencySubArea != 0) {
                editMenu.menu('appendItem', {
                    id: '{{ tableId}}_EditMenu_CompetencySubArea',
                    text: 'Edit Competency SubArea',
                    name: 'EditCompetencySubArea'
                });
            }
            if (idCompetency != 0) {
                editMenu.menu('appendItem', {
                    id: '{{ tableId}}_EditMenu_Competency',
                    text: 'Edit Competency',
                    name: 'EditCompetency'
                });
            }      
            editMenu.menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                }
            );
        }
        function hideEditMenu() {
            var editMenu = jQuery('#{{ tableId }}_EditMenu');
            var menuItem;
            
            menuItem = jQuery('#{{ tableId}}_EditMenu_CompetencyArea');
            if (menuItem.length != 0) { editMenu.menu('removeItem', menuItem[0]); }

            menuItem = jQuery('#{{ tableId}}_EditMenu_CompetencySubArea');
            if (menuItem.length != 0) { editMenu.menu('removeItem', menuItem[0]); }

            menuItem = jQuery('#{{ tableId}}_EditMenu_Competency');
            if (menuItem.length != 0) { editMenu.menu('removeItem', menuItem[0]); }
        }

        function clickEditMenu(item) {
            if (item.name == 'EditCompetencyArea') {
                jeasyui_add_new_tab('CompetencyTabs', 'Edit competency area (Id: ' + currentIdCompetencyArea + ')',
                    '{{ editCompetencyAreaHref }}?id=' + currentIdCompetencyArea);
            }
            else if (item.name == 'EditCompetencySubArea') {
                jeasyui_add_new_tab('CompetencyTabs', 'Edit competency sub area (Id: ' + currentIdCompetencySubArea + ')',
                    '{{ editCompetencySubAreaHref }}?id=' + currentIdCompetencySubArea);    
            }
            else if (item.name == 'EditCompetency') {
                jeasyui_add_new_tab('CompetencyTabs', 'Edit competency (Id: ' + currentIdCompetency + ')',
                    '{{ editCompetencyHref }}?id=' + currentIdCompetency);
            }
        }

        // ADD MENU
        function showAddMenu(idElement, idCompetencyArea, idCompetencySubArea, idCompetency) {
            currentIdCompetencyArea = idCompetencyArea;
            currentIdCompetencySubArea = idCompetencySubArea;
            currentIdCompetency = idCompetency;

            var elementPosition = jQuery('#' + idElement).offset();            
            var addMenu = jQuery('#{{ tableId }}_AddMenu');

            addMenu.menu('appendItem', {
                    id: '{{ tableId}}_AddMenu_CompetencySubArea',
                    text: 'Add Competency SubArea',
                    name: 'AddCompetencySubArea'
            });
            if (idCompetencySubArea != 0) {
                addMenu.menu('appendItem', {
                    id: '{{ tableId}}_AddMenu_Competency',
                    text: 'Add Competency',
                    name: 'AddCompetency'
                });
            }      

            addMenu.menu('show',{
                    left: elementPosition.left - 100,
                    top: elementPosition.top
                }
            );
        }
        function hideAddMenu() {
            var addMenu = jQuery('#{{ tableId }}_AddMenu');
            var menuItem;
            
            menuItem = jQuery('#{{ tableId}}_AddMenu_CompetencySubArea');
            if (menuItem.length != 0) { addMenu.menu('removeItem', menuItem[0]); }

            menuItem = jQuery('#{{ tableId}}_AddMenu_Competency');
            if (menuItem.length != 0) { addMenu.menu('removeItem', menuItem[0]); }
        }

        function clickAddMenu(item) {
            if (item.name == 'AddCompetencySubArea') {
                jeasyui_add_new_tab('CompetencyTabs', 'Add new competency sub area',
                    '{{ createCompetencySubAreaHref }}?idCompetencyArea=' + currentIdCompetencyArea);
            }
            else if (item.name == 'AddCompetency') {
                jeasyui_add_new_tab('CompetencyTabs', 'Add new competency',
                    '{{ createCompetencyHref }}?idCompetencyArea=' + currentIdCompetencyArea + '&idCompetencySubArea=' + currentIdCompetencySubArea);
            }
        }


        function showJobPosition(title, idCompetency) {
            jQuery('#{{ tableId}}_Dialog').dialog('setTitle', title);
            jQuery('#{{ tableId}}_Dialog').dialog('open');
            jQuery('#{{ tableId}}_Dialog').dialog('refresh', '{{ showJobPositionHref }}?idCompetency=' + idCompetency); 
        }
    </script>

    <div style="margin: 10px auto 10px 15px">
        <!-- Table -->
            <table id="{{ tableId }}" class="easyui-datagrid" 
                style="width:750px;height:470px"  
                url="{{ ajaxSourceHref }}"
                pagination="true"
                title="Competencies"
                singleSelect="true"
                toolbar="#{{ tableId }}_Toolbar">
                <thead>  
                    <tr>  
                        <th field="idCompetencyArea" width="150">Competency Area</th>  
                        <th field="idCompetencySubArea" width="150">Competency SubArea</th>  
                        <th field="description" width="230">Competency</th>  
                        <th field="jobPositions" width="80">Job Positions</th>  
                        <th field="action" width="70">Action</th>  
                    </tr>  
                </thead>  
            </table>
        </div>

    <div id="{{ tableId }}_Toolbar" style="height: auto">    
        {% include 'AppraisalAdminBundle:Form:Filter.html.twig' with {'form': filterForm} %}
    </div>

    <div id="{{ tableId}}_Dialog" class="easyui-dialog" title="Dialog" style="width:400px;height:200px;"
        closed="true">
        Dialog Content.  
    </div>

    <div id="{{ tableId }}_EditMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickEditMenu,onHide:hideEditMenu">  
    </div>

    <div id="{{ tableId }}_AddMenu" class="easyui-menu" style="width:300px;" data-options="onClick:clickAddMenu,onHide:hideAddMenu">  
    </div>

