{% extends 'AppraisalAdminBundle::Simple.html.twig' %}
{% block content %}
    <div id="CompetencyTabs" class="easyui-tabs" fit="true" border="false">  
        <div title="List" href="{{ listHref }}" cache="false">  
        </div>
        
        <div title="Add new area" href="{{ formCreateAreaHref }}" cache="false">
        </div>            
    </div>
{% endblock %}
