<div style="padding: 10px">
    <table id="Job Position" class="easyui-datagrid"
        singleSelect="true">
        <thead>  
            <tr>  
                <th field="description" width="300">Job Position</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
